body {
  background: #fafafa;
  /*color: #333333;*/
  margin-top: 5rem;
  color: #1e2a5d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e2a5d;
}

.bg-steel {
  background-color: #5f788a;
  /*background-color: #002261;*/
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn-primary {
  background-color: #5f788a;
  border-color: #1e2a5d;
}

.btn-primary:hover {
  background-color: #1e2a5d !important;
  border-color: #1e2a5d;
}
.btn-primary:active,
.btn-primary:focus {
  background-color: #1e2a5d !important;
  border-color: #1e2a5d !important;
  box-shadow: 0 0 0 0.2rem rgba(30, 42, 93, 0.5) !important;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.mont {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.btn-circle.btn-md {
  width: 38px;
  height: 38px;
  padding: 5px 0px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  background-size: auto;
  text-align: center;
}

.btn-circle.btn-sm {
  width: 34px;
  height: 34px;
  padding: 0px 0px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  background-size: auto;
  text-align: center;
}

.btn-circle.btn-xsm {
  width: 14px;
  height: 14px;
  padding: 0px 0px;
  border-radius: 15px;
  font-size: 9px;
  text-align: center;
  background-size: auto;
  text-align: center;
}

.present:hover {
  /*background: rgba(0, 255, 0, 0.1) !important;*/
  border: 1px solid rgba(0, 200, 0, 0.5);
  -moz-box-shadow: inset 0 0 2px #000000;
  -webkit-box-shadow: inset 0 0 2px #000000;
  box-shadow: inset 0 0 2px #000000;
}

.absent:hover {
  /*background: rgba(250, 199, 211, 0.75) !important;*/
  border: 1px solid rgba(200, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 2px #000000;
  -webkit-box-shadow: inset 0 0 2px #000000;
  box-shadow: inset 0 0 2px #000000;
}

.late:hover {
  /*background: rgba(199, 215, 250, 0.75) !important;*/
  border: 1px solid rgba(0, 0, 200, 0.5);
  -moz-box-shadow: inset 0 0 2px #000000;
  -webkit-box-shadow: inset 0 0 2px #000000;
  box-shadow: inset 0 0 2px #000000;
}

.add:hover {
  /*background: rgba(243, 245, 212, 0.87) !important;*/
  border: 1px solid rgba(255, 255, 0, 0.5);
  -moz-box-shadow: inset 0 0 2px #000000;
  -webkit-box-shadow: inset 0 0 2px #000000;
  box-shadow: inset 0 0 2px #000000;
}

/* sm */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.9em;
  }
  h2 {
    font-size: 1.6em;
  }
  .nav-item {
    font-size: 1.2em !important;
  }
}

.bg {
  background: url("/static/img/bg2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  background: url("/static/img/bg2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}*/

/* select {
  color: green;
}

select option {
  color: black;
}
select option:first-child {
  color: red;
} */

/* @media (min-width: 400px) {
  .container {
    width: 400px;
    padding: 0px;
  }
}

@media (min-width: 568px) {
  .container {
    width: 560px;
    padding: 0px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1370px;
  }
} */
