{% extends "base-denied.html" %} {%block title%} MDY My Account {%endblock%} {% block content %}

<h1 class="mb-4 text-center display-4">Account Info</h1>
<div style="width: 500px; margin: auto">
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ image_file }}" />
      <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
      </div>
    </div>

    <form method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Account Info</legend>
        <div class="form-group">
          {{ form.username.label(class="form-control-label") }} {% if form.username.errors %} {{ form.username(class="form-control
          form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.username(class="form-control form-control-lg") }} {% endif %}
        </div>
        <div class="form-group mb-4">
          {{ form.email.label(class="form-control-label") }} {% if form.email.errors %} {{ form.email(class="form-control form-control-lg
          is-invalid ") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.email(class="form-control form-control-lg") }} {% endif %}
        </div>

        <hr />
        <div class="form-group form-row">
          {{ form.picture.label(class="pb-0") }} {{ form.picture(class="form-control-file form-control-lg") }} {% if form.picture.errors %}
          {% for error in form.picture.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %} {% endif %} {{ form.submit(class="ml-3 btn btn-outline-primary") }}
        </div>
      </fieldset>
    </form>
    <hr />

    <div style="display: flex; justify-content: space-around">
      <a class="btn btn-md btn-outline-primary mr-2" href="/suggestions/{{teacher}}">Suggestions</a>
      <a class="btn btn-md btn-outline-primary mr-2" href="/set_custom_msg/{{teacher}}">Add custom message</a>
      <a class="btn btn-md btn-outline-primary" href="/register_classes/{{teacher}}">Add classes</a>
    </div>
  </div>
</div>
{% endblock content %}
