{% extends "base.html" %} {% block content %}

<h1 class="font-weight-normal mb-4 text-center">{{cat}} Lesson</h1>
<hr />

<script>
  var today = new Date();
  //var date = today.getFullYear() + "-" + (today.getMonth() + 1) + "-" + today.getDate();
  month = ("0" + (today.getMonth() + 1)).slice(-2);
  day = ("0" + today.getDate()).slice(-2);
  year = today.getFullYear();
  var date = year + "-" + month + "-" + day;
  lessonid = "{{lessonid}}";
</script>

<form id="myForm" method="post" name="lesson_form">
  {{ form.hidden_tag() }}
  <h1>{{ form.title}}</h1>
  <br />
  {{ form.content.label(class="form-control-label") }} {{ form.content(class="form-control form-control-md") }} {{ form.save(class="btn
  btn-primary btn-md mb-2 mt-2 form-control-md") }}
  <br />

  <div class="row no-gutters mt-4 flex-nowrap">
    <div class="mr-1 col-xs-3 col-sm-3 col-lg-3 col-xl-2">
      {{ form.date.label(class="form-control-label form-control-sm mb-0 mb-0") }} {{ form.date(class="form-control form-control-md") }}
      <script>
        document.getElementById("date").value = date;
      </script>
    </div>
    <div class="mr-1 col-xs-3 col-sm-2 col col-lg-2 col-xl-1">
      {{ form.scheduleid.label(class="form-control-label form-control-sm mb-0") }} {{ form.scheduleid(class="form-control form-control-md")
      }}
    </div>

    <div class="mr-1 col-xs-3 col-sm-2 col-lg-2 col-xl-1">
      {{ form.start_time.label(class="form-control-label form-control-sm mb-0") }} {{ form.start_time(class="form-control form-control-md")
      }}
    </div>
    <div class="col-xs-3 col-sm-2 col-lg-2 col-xl-1">
      {{ form.end_time.label(class="form-control-label form-control-sm mb-0") }} {{ form.end_time(class="form-control form-control-md") }}
    </div>
  </div>

  <div class="row no-gutters mt-4 mb-4 flex-nowrap">
    <div class="mr-1 col-xs-2 col-sm-1 col-md-1 col-lg-1">
      {{ form.room.label(class="form-control-label form-control-sm mb-0") }} {{ form.room(class="form-control form-control-md") }}
    </div>
    <div class="mr-1 col-xs-4 col-sm-5 col-md-3 col-lg-3">
      {{ form.courseid.label(class="form-control-label form-control-sm mb-0") }} {{ form.courseid(class="form-control form-control-md") }}
    </div>
    <div class="mr-1 col-xs-2 col-sm-2 col-md-2 col-lg-1">
      {{ form.total.label(class="form-control-label form-control-sm mb-0") }} {{ form.total(class="form-control form-control-md") }}
    </div>
  </div>
</form>

<script>
  var cat = "{{cat}}";
  var frm = document.getElementById("myForm");
  if (cat == "Plan") frm.action = "/update_lessons/" + lessonid;
  else frm.action = "/update_lessons/a";
</script>
{% endblock content %}
