{% extends "base.html" %} {% block content %}

<h1 class="mb-4 text-center">Attendance Records by {{category}}</h1>
<hr />
<p></p>
<h4 id="page_title" class="mt-4 mb-4 text-center">test</h4>

<script>
  var title = "";
  var category = "{{category}}";
  console.log("category", category);
  if (category == "class") {
    title = "{{courseid}}";
  } else if (category == "student") {
    title = "{{student}}";
  } else {
    title = "{{date}}";
  }
  console.log("Title", title);
  document.getElementById("page_title").innerHTML = title;
</script>

<table
  id="myTable"
  class="table mx-auto w-auto table-striped table-hover table-bordered table-responsive"
  style="border: 0px red solid; margin: 0 auto; width: 75% !important"
>
  <thead>
    <th>Date</th>
    <th>Schedule ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Comments</th>
  </thead>
  <tbody>
    {% for att in attendance %} {% if att.status =='A'%}
    <tr>
      <td>{{ att.att_date}}</td>
      <td>{{ att.scheduleid}}</td>
      <td>{{ att.name}}</td>
      <td>{{ att.status}}</td>
      <td>{{ att.comment}}</td>
    </tr>

    {%endif%} {%endfor%}
  </tbody>
</table>
<script>
  var title = "";
  var category = "{{category}}";
  if (category == "Class") {
    title = "{{courseid}}";
  } else if (category == "Student") {
    title = "{{student}}";
  } else {
    title = "{{date}}";
  }
  document.getElementById("title").innerText = title;
</script>
{% endblock content %}
