{% extends "base-denied.html" %} {% block title %} MDY Attendance Records {% endblock %} {% block content %}

<script src="/static/js/attendance_records.js"></script>

<!-- <div id="outerdiv" style="display: flex; text-align: center">
  <div id="innerdiv" style="margin-left: auto; margin-right: auto"> -->

    <div style="max-width: 900px; margin: auto">
      <div class="content-section">

<div style="text-align: center;">
  <h1 id="h1" class="mb-0 display-4">Attendance Records</h1>
  <hr />
  <h4 class="font-weight-light text-muted">Teacher: {{user.title}} {{user.first}} {{user.last}}</h4>

  <p></p>
  <h2 id="page_title" class="font-weight-normal mt-0 text-center"></h2>
  <h2 class="font-weight-normal mb-2">
    <div style="display: flex; justify-content: center">
      <div><span class="text-muted small"> ABSENCES </span> <span style="color: red" class="mr-4">{{absences}}</span></div>
      <div><span class="text-muted small ml-4"> LATE </span> <span style="color: blue">{{lates}}</span></div>
    </div>
  </h2>
</div>
<script>
  var attendance = [];
  attendance = {{attendance_json | tojson}};
  console.log(attendance.length);

  
  var title = "";
  var category = "{{category}}";
  console.log("category: "+category);
  if (category == "class") {
    title = "{{courseid2}}";
  } else if (category == "student") {
    title = "{{student_name}}<br> {{classid2}}";
  } else if (category == "date") {
    title = "{{date}}";
    title = convert_date(title) + "<br>All Classes";
  } else if (category == "classdate") {
    var formatted_date = convert_date("{{date}}");
    title = formatted_date + "<br>{{courseid2}}";
  } else if (category.substring(0, 2) == "_x") {
    var formatted_date = convert_date("{{date}}");
    title = formatted_date + "<br>{{courseid2}}";
  } else {
    title = "{{student_name}} <br> {{classid2}}";
  }
  document.getElementById("page_title").innerHTML = title;
  var endtable = 1;

  // hideCover();
</script>

<div class="table-responsive" style="max-width: 900px; margin: auto">
  <table
    id="myTable"
    class="table mx-auto w-auto table-striped table-hover table-fixed mb-4"
    style="background: whitesmoke; width: auto; margin: 0px auto; border-collapse: collapse; color: #1e2a5d"
  >
    <thead class="small">
      <th>Date</th>
      <th>Pd</th>
      <th>Class</th>
      <th>Subject</th>
      <th>Name</th>
      <th class="text-center">St</th>
      <th>Actions</th>
      <th>Comments</th>
    </thead>
    <tbody>
      {% for att in attendance %}
      <tr>
        <td>
          <script>
            var date = "{{ att.att_date}}".substring(5, 10);

            var class_ = "{{ att.courseid}}".substring(0, 5);
            {% if loop.nextitem is defined  %}
              var prev_class = "{{attendance[loop.index].courseid}}".substring(0, 5);
              //console.log("current class = " + class_ + " and next class =" + next_class);
              if (class_!=prev_class){
                //console.log("new table");
                endtable = 1;
                var element = document.currentScript.parentElement.parentElement;
                element.id = "tr{{loop.index}}";
                //console.log(element.id);
              }
             {% else %}
                endtable = 0;


            {% endif %}
            if (date.substring(0, 1) == 0) date = date.substring(1, 5);
            document.write(date);
          </script>
        </td>
        <td class="text-center">
          <script>
            var sched = "{{ att.scheduleid}} ";
            sched = sched.substring(2, sched.length);
            document.write(sched);
          </script>
        </td>
        <td class="text-center">
          <script>
            document.write(class_);
          </script>
        </td>

        <td>
          <script>
            document.write("{{ att.courseid}}".substring(6));
          </script>
        </td>

        <td class="text-nowrap">
          <a id="active_student{{loop.index}}" style="color:  #1e2a5d" href="/track_attendance/{{ att.email}}"
            >{{ att.name}}</a
          >
        </td>
        <td class="text-center">
          <script>
            current_student_status = "{{att.status}}";
            var parent = document.currentScript.parentElement;
            if (current_student_status == "A") {
              parent.style.color = "red";
            } else if (current_student_status == "L") {
              parent.style.color = "blue";
            } else if (current_student_status == "P") {
              parent.style.color = "rgb(14, 173, 56)";
            }
            document.write(current_student_status);
          </script>
        </td>
  

      <td style="text-align:center text-nowrap">
       <div style="display:flex; align-content:center; justify-content:left">
        <a
        id="edit{{loop.index}}"
        title="edit"
        class="a btn-sm"
        onclick='set_values("{{loop.index}}", "{{ att.att_date}}","{{ att.courseid}}", "{{ att.email}}","{{att.name}}", "{{ att.status}}", "{{ att.comment}}" )'
        data-toggle="modal"
        data-target="#editModal"
        ><i name="edit" style="color: #1e2a5d" class="fa fa-pencil fa-1x"></i>
      </a>
  
      <div id="notify{{loop.index}}" style="display:none" class="ml-3">
        <a title="email student and parents" onclick='email_absences("{{att.email}}", "{{att.name}}","{{att.courseid}}" , "{{att.att_date}}")'> 
          <i style="color:#1e2a5d" class="fa fa-envelope fa-1x"></i> </a> 
      </div>
    </div> <!--ends div row for actions cell-->
  </td>
    <script>
      if("{{att.status}}" =='A'){
        $('#notify{{loop.index}}').css('display', 'block');
      }
    </script>
    <td>{{ att.comment}}</td>

  </tr>

      {%endfor%}
    </tbody>
  </table>


</div>
<!-- </div>
</div> -->
<hr class="mb-4" />
<div style="text-align: right">
  <!-- <a id="my_classes2" href="/records" class="mt-4 mr-4 mb-2 btn btn-outline-primary btn-md">Attendance Records</a> -->
  
  <a title="Email ALL absences" onclick='email_all({{attendance_json | tojson}})' class="mt-4 mb-2 mr-4 btn btn-outline-primary btn-md">
    <i style="color:#1e2a5d" class="fa fa-envelope fa-2x"></i><span  class="ml-2 h5">ALL</span></a>
  <a id="my_classes2" href="/classes_anon" class="mt-4 mb-2 mr-4 btn btn-outline-primary btn-lg">My Classes</a>
</div>
<script>
  //console.log("attendance records teacher: {{teacher}}");
  if ("{{teacher}}" == "rfriedman") {
    element = document.getElementById("my_classes2");
    element.href = "/today";
    element = document.getElementById("my_classes");
    element.href = "/today";
  }
</script>
<script>
  $("#myTable").DataTable({
    //ordering: true,
    order: [[4, "asc"]],
    pageLength: 20,
    paging: true,
    filter: true,
    //deferRender: true,
    //scrollY: 1200,
    scrollCollapse: true,
    scroller: true,
    select: true,
    bSort: true,
  });

</script>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Edit Attendance Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times; </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="md-form mb-1">
          <div class="form-group form-row">
          <label for="current_name" class="col-3" /> Student </label>
          <input id="current_name" style="max-width: 300px" class="col form-control validate" disabled />
          </div>


          <div class="form-group form-row">
            <div class="col-3"><label for="new_status">Status</label></div>
            <div class="col"><select style="width: 60px" type="text" id="new_status" class="form-control validate"  autofocus />
              <option>P</option>
              <option>A</option>
              <option>L</option>
            </select></div>
          </div>
          <div class="form-group form-row">
            <div class="col-3"><label for="new_comment">Comment</label></div>
            <div class="col"><input style="width: 300px" type="text" id="new_comment" class="form-control validate"  /></div>
          </div>


          <div style="display: none">
            <input id="current_id" class="form-control validate" />
            <input id="current_date" class="form-control validate" />
            <input id="current_courseid" class="form-control validate" />
            <input id="current_email" class="form-control validate" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id = "edit_ok_button" type="button" class="btn btn-primary" data-dismiss="modal" onclick="edit_attendance()">OK</button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#editModal").on("shown.bs.modal", function () {
    $("#new_comment").focus();
    setTimeout(function () {
      $("#new_comment").focus();
    }, 1000);
  });

  $(document).on("keyup", function (event) {
    //Check if modal is visible and key code
    if ($("#editModal").is(":visible") && event.keyCode === 13) {
      //Programatically click the button
      $("#edit_ok_button").click();
    }
  })

</script>

</div>
</div>
{% endblock content %}
