{% extends "base.html" %} {%block title%} MDY Attendance {%endblock%} {%block content%}

<script>
  var students = [];
  var classid = "{{classid}}";
  var dow = "{{dow}}";
  var scheduleid = dow + "{{per}}";
  var courseid = "{{courseid}}";
  var amount = "{{amount}}";
  var room = "{{room}}";

  var today = new Date();
  //var date = today.getFullYear() + "-" + (today.getMonth() + 1) + "-" + today.getDate();
  month = ("0" + (today.getMonth() + 1)).slice(-2);
  day = ("0" + today.getDate()).slice(-2);
  year = today.getFullYear();
  var date = year + "-" + month + "-" + day;


  window.onload = function () {
    //console.log("is it working " + classid);
    //document.getElementById("classid").value = classid;
    var count = {{count}};
    for (i=0; i<count; i++){
      var s = document.getElementById("students-" + i + "-status");
      s.addEventListener("click", change_color);
    }



  };


</script>

<div id="outerdiv" style="display: flex; justify-content: center; text-align:center">
<div id = "innerdiv" style="margin-left:auto; margin-right:auto">
<div id="top_of_form" >
<form action="/update_attendance" method="post" name="att_form">
  {{ att_form.hidden_tag() }}
  <h1 class="font-weight-normal">Attendance</h1>
  <legend class="border-bottom mb-4">
    <script>
      document.write(courseid +" (Rm " + room + ")");  
    </script>
  </legend>

  <!-- <div class="row" style="flex-wrap:nowrap; border:0px solid red; width:100%"> -->

  <div class="row no-gutters " style="justify-content: center; border:0px solid red; width:100%">
    <div class="col col-lg-2 mr-1">
      {{ att_form.date.label(class="form-control-label form-control-sm mb-0 ") }} {{ att_form.date(class="form-control form-control-sm pl-1") }}
      <script>
        document.getElementById("date").value = date;
      </script>
    </div>
  
    <div class="col col-lg-1 mr-1">
      {{ att_form.scheduleid.label(class="form-control-label form-control-sm mb-0") }} {{ att_form.scheduleid(class="form-control form-control-sm") }}
      <script>
        document.getElementById("scheduleid").value = scheduleid;
      </script>
    </div>


    <div class="" style = "display:none ">
      {{ att_form.courseid.label(class="form-control-label form-control-sm mb-0") }} {{ att_form.courseid(class="form-control form-control-sm") }}
      <script>
        document.getElementById("courseid").value = courseid;
      </script>
    </div>

    <div class="col col-lg-1 mr-1">
      {{ att_form.start_time.label(class="form-control-label form-control-sm mb-0") }} {{ att_form.start_time(class="form-control form-control-sm") }}
      <script>
        document.getElementById("courseid").value = courseid;
      </script>
    </div>

    <div class="col col-lg-1 mr-1">
      {{ att_form.end_time.label(class="form-control-label form-control-sm mb-0") }} {{ att_form.end_time(class="form-control form-control-sm") }}
      <script>
        document.getElementById("courseid").value = courseid;
      </script>
    </div>

    <div class="nopadding col col-lg-1 mr-1">
      {{ att_form.amount.label(class="form-control-label form-control-sm mb-0") }} {{ att_form.amount(class="form-control form-control-sm ") }}
      <script>
        document.getElementById("amount").value = amount;
      </script>
    </div>

  </div>
  <script>
    var x = "/lessons/"+courseid;
    document.write('<div style="float:left"> <a class="font-weight-normal" href="' + x + '"> <br> View Lessons</a> </div>');
    function present(){
      var count = {{count}};
      for (i=0; i<count; i++){
        var s = document.getElementById("students-" + i + "-status");
        if(s.value == "")
          s.value ="P";
        else s.value = "";
      }
    }
  </script>
  <div style="float: right">

    <a class="btn btn-primary btn-md mt-2 mb-1 mr-2" style="color:azure" onclick="present()"> All </a>{{ att_form.save(class="btn btn-primary btn-md mt-2 mb-1 form-control-lg") }}</div>



 

<div class="table-responsive">

<div id="attendance_table" class="mt-0">
    <table
      id="myTable"
      class="table mx-auto w-auto table-striped table-hover table-bordered "
      style="border: 0px red solid; width:auto; margin: 0px auto"
    >
      <tr >
        <th style="display: none">Email</th>
        <th>Abs</th>
        <th>Name</th>
        <th>Status</th>
        <th>Comment</th>
      </tr>
      {% for student in att_form.students %}
      <tr>
        <td style="display: none">{{ student.email}}</td>
        <td class="font-weight-bold"><a href="/track_attendance/{{ student.email.data}}">{{student.count.data}}</a></td> 
        <td><a href="/student_info/{{student.email.data}}" style="color: black">{{ student.student_name}}</a></td>
        <td >
{{ student.status}}

        </td>
        <td>{{ student.comment(length=300)|safe}}</td>
      </tr>
      <script>
        var newStudent = "student" + "{{loop.index}}";
        var newEmail = "{{ student.email.data }}";
        var newName = "{{ student.student_name.data }}";
        var newStatus = "{{ student.status.value }}";
        var newComment = "{{ student.comment.data }}";

        var jsonData = {};
        jsonData["email"] = newEmail;
        jsonData["name"] = newName;
        jsonData["status"] = newStatus;
        jsonData["comment"] = newComment;
        students.push(jsonData);
      </script>
      {% endfor %}
      <script>
        document.getElementsByName("data").value = students;
      </script>

      <script>
        $("#myTable").DataTable({
          pageLength: 20,
          paging: false,
          dom: "lrtip",
          filter: true,
          deferRender: true,
          //scrollY: 1200,
          scrollCollapse: true,
          scroller: true,
          select: true,
          bSort: false,
        });
     
        function change_color(e){
          var ele = e.target;
          var id = ele.id;
          var x = id.indexOf("-",9)
          y = id.substring(9,x)
          var name = "students-" +y+ "-student_name";
          n = document.getElementById(name);

          var selected = ele.value;
          if(selected=='A'){
            ele.style.color="red";
            ele.setAttribute("class", "mark");
            n.style.color="red";
            n.setAttribute("class", "mark");           

          }
          
          else if (selected=='L'){
            ele.style.color="blue";
            n.style.color="blue";
            n.classList.remove("mark");
            ele.classList.remove("mark");

          }
          else{
            ele.style.color="black";
            n.style.color="black";
            n.classList.remove("mark");
            ele.classList.remove("mark");


          }
        }
        



      </script>
    </table>
    </div></div>
  </div>
</form>
<p class='mt-4 mb-4'>&nbsp;</p>
</div>
</div>
{%endblock%}
