{% extends "base-denied.html" %} {% block scale %}
<meta
  name="viewport"
  content="width=device-width, initial-scale=.6, user-scalable=yes, maximum-scale=3.0, minimum-scale=.04 shrink-to-fit=yes"
/>
{% endblock %}

<div  style="display:none" id="warning" class="text-center alert alert-danger"> Please check if you marked all students. Choose P for students who are present. Attendance was not recorded.</div>

{%block title%} MDY Attendance {{courseid}}{%endblock%}     
{%block content%}
<span class='text-right text-muted font-weight-light small' style="float:right; "><a href="/lessons/{{courseid}}" style="color:black">Admin</a></script></span>
<style>
  tr:hover {
    /*background-color: #AFDEFB !important;*/
    background-color: #e0ffff !important;
    /*font-weight:bold;*/

  }

</style>

<script src = "/static/js/attendance_cards.js"></script>

<script>
  var submitted = {{submitted}};
  console.log('submitted ' + submitted);
  var teacher = "{{teacher}}";
  var students = [];
  var classid = "{{classid}}";
  var dow = "{{dow}}";
  var scheduleid = dow + "{{per}}";
  var courseid_fortitle = "{{classid2}}" + "-" + "{{courseid}}".substring(6);
  var courseid = "{{courseid}}";
  var amount = "{{amount}}";
  var room = "{{room}}";
  var date = get_today();
  var count = {{count}};
  var PaleRed = "rgb(255, 227, 232)";


  window.onload = function () {  
    //console.log('attendance cards')
    for (i=0; i<count; i++){
      var s = document.getElementById("students-" + i + "-status");
      //s.addEventListener("click", change_color);
    }
  };


</script>
<div class = "container" style="border:0px solid red; max-width:560px;">
  <div class = "content-section" >

<div id="page_title" class="container" style="text-align:center">
    <h1 class="mt-2 display-4" >Attendance</h1>

    <legend class="border-bottom mb-3 mont" >
      <script> document.write(courseid_fortitle +" (Rm " + room + ")"); </script>
    </legend>
</div>


<form action="#" method="post" name="att_form"> {{ att_form.hidden_tag() }}

  <div id="top_of_form" class = "container-fluid" style="margin:auto; border:0px solid red ">
    
    <div class="form-row " style="display:flex; flex-flow:row wrap; justify-content: center; border:0px solid red; width:100%">
      <div class="col" >
        {{ att_form.date.label(class="form-control-label form-control-sm mb-0 ") }} {{ att_form.date(class="form-control form-control-sm pl-1") }}
        <script>
          document.getElementById("date").value = date;
        </script>
      </div>
    
      <div class="col">
        {{ att_form.scheduleid.label(class="form-control-label form-control-sm mb-0") }} {{ att_form.scheduleid(class="form-control form-control-sm") }}
        <script>
          document.getElementById("scheduleid").value = scheduleid;
        </script>
      </div>

      <div class="col">
        {{ att_form.start_time.label(class="form-control-label form-control-sm mb-0") }} {{ att_form.start_time(class="form-control form-control-sm") }}
        <script>
          document.getElementById("courseid").value = courseid;
        </script>
      </div>

      <div class="col">
        {{ att_form.end_time.label(class="form-control-label form-control-sm mb-0") }} {{ att_form.end_time(class="form-control form-control-sm") }}
        <script>
          document.getElementById("courseid").value = courseid;
        </script>
      </div>

      <div class="col">
        {{ att_form.amount.label(class="form-control-label form-control-sm mb-0") }} {{ att_form.amount(class="form-control form-control-sm ") }}
        <script>
          document.getElementById("amount").value = amount;
        </script>
      </div>

      
      <div class="" style = "display:none ">
        {{ att_form.courseid.label(class="form-control-label form-control-sm mb-0") }} {{ att_form.courseid(class="form-control form-control-sm") }}
        <script>
          document.getElementById("courseid").value = courseid;
        </script>
      </div>

      <div class="" style = "display:none ">
        {{ att_form.teacher.label(class="form-control-label form-control-sm mb-0") }} {{ att_form.teacher(class="form-control form-control-sm") }}
        <script>
          document.getElementById("teacher").value = teacher;
        </script>
      </div>


    </div>

    <div id="teacher_buttons" class = "container" style="display:flex; align-items:baseline; justify-content: space-between;">

    <div class='text-left text-muted font-weight-normal pb-0' style="margin-top: auto;" >{{User.title}} {{User.first}} {{User.last}}</script></div>
    
    <div class='mt-2' style="border:0px solid red; ">

     <div class="row" >
       <div class= 'col'> <a id='all' class="present btn btn-circle btn-md" style="color:azure; background:rgb(92, 184, 92)" onclick='present({{count}})'> All </a></div> 
        <div  class='col' id='submitted' ><button type="button" class="btn btn-secondary btn-md" style="display:none; border-radius: 8px; background:gainsboro; color: lightslategray" disabled> Submitted </button></div> 
      

     <div class= 'col' id='update'> <button class="btn btn-primary btn-md form-control-lg"  style="display:none; border-radius: 8px; color:whitesmoke" onclick='hide_update()' formaction= "/update_attendance"> Save Changes </button> </div>
     <div class= 'col' id='submit'> <button class="btn btn-primary btn-md form-control-lg"  style="border-radius: 8px; color:whitesmoke"  formaction= "/record_attendance"> Submit </button> </div>

    </div>
    </div>
    </div>

  </div> <!--closes top of form-->

  
  <div id="student_cards" class = "container-fluid" style="margin:auto; border:0px solid red ">    

    {% for student in att_form.students %}
<div id="cards_container" class="mt-3" style="display:flex; justify-content:center; border:0px solid blue">

      <div class="card pt-0 pb-0 no-gutters" style="width:34em; background: whitesmoke" id="card{{loop.index-1}}">
          <span style="display: none">{{ student.email}}</span>
          


        <div class="card-body pt-2 pb-2 mt-0" > 

            <div class="row" style="display:flex; justify-content:space-between">
                
                <div id="stats">

                    <div style="display:none">{{ student.student_name}} </div>
                    <div style="display:none"> {{ student.status}} </div>
                    <div style="width:200px; display:none">{{ student.comment(length=300)|safe}}</div>

                    <div class="ml-1 h6" style="font-size:1.1em"><a href="/student_info/{{student.email.data}}" style="color: black" target="_blank">{{ student.student_name.data}}</a>
                        <a class="ml-3 text-muted" style="font-size: .8em; font-family: 'Neucha', cursive; color:blue " title="total late" target="_blank" href="/track_attendance/{{ student.email.data}}">
                          {% if student.count_late.data !=0 %}
                              L {{student.count_late.data }}
                        {% endif %}
                    </a><a class="ml-2 text-muted" style="font-size: .8em; font-family: 'Neucha', cursive;" title="total abs" target="_blank" href="/track_attendance/{{ student.email.data}}">
                      {% if student.count.data !=0 %}
                      A {{student.count.data }}
                {% endif %}

                      </a></div>


                  </div>




                <div id="buttons" class="att_buttons ml-2">
                    <button id="mark_present_{{loop.index}}" title="present" style="background:rgba(200,200,200,.5); color:white; " type="button" class="present btn btn-circle btn-sm mr-2"  onclick='mark_present("{{loop.index}}")'>P</button> 
                    <button id="mark_absent_{{loop.index}}" title="absent" style="background:rgba(200,200,200,.5); color:white" type="button" class="absent btn btn-circle btn-sm mr-2"  onclick='mark_absent("{{loop.index}}")'>A</button> 
                    <button id="mark_late_{{loop.index}}" title="late" style="background:rgba(200,200,200,.5); color:white" type="button" class="late btn btn-circle btn-sm mr-2"  onclick='mark_late("{{loop.index}}")'>L</button> 
                    <button id="comment{{loop.index}}" title="Add comment" style="background:rgba(200,200,200,.5); color:white" type="button" class="add btn btn-circle btn-sm mr-2"  onclick='set_value_comment("{{loop.index}}")'             
                    data-toggle="modal"
                    data-target="#commentModal">C</button> 
                </div>
                <div class="edit_button" style="display:none">
                    <a
                    id="edit{{loop.index}}"
                    title="edit"
                    class="a btn-sm"
                    onclick='set_values("{{loop.index}}",  date, "{{courseid}}", "{{ student.email.data}}","{{student.student_name.data}}", "{{ student.status.data}}", "{{ student.comment.data}}" )'
                    data-toggle="modal"
                    data-target="#editModal"
                    ><i name="edit" style="color: #1e2a5d" class="fa fa-pencil fa-1x"></i>
                  </a>

                </div>

            </div>
          
        </div>
        
        <div style="display:none;  " class = "card-footer pt-1 pb-1 text-muted" id = "card_comment_{{loop.index}}"><span style="font-size: 1em; font-family: 'Lora', serif;">comment</span>
            
       <span style="float:right" class="mr-0">                    
           <button id="delete_comment{{loop.index}}" title="Delete comment" style="background:rgba(200,200,200,.5); color:white" type="button" class="btn btn-circle btn-xsm"  onclick='delete_comment("{{loop.index}}")'>X</button> 
       </span> </div>
    </div>
        
</div>
       
     {% endfor %}
</div>
      <script>
        $("#myTable").DataTable({
          pageLength: 20,
          paging: false,
          dom: "lrtip",
          filter: true,
          scrollCollapse: true,
          scroller: true,
          select: true,
          bSort: false,
        });
     </script>


</form>
</div>
</div> <!--end div enclosing top of form and attendance cards-->
<div id="footer_buttons" style="display: flex; justify-content: center">
  <a href="/full_schedule" class="mt-2 mb-2 mr-4 btn btn-outline-primary btn-md">My Schedule</a>
  <a id="my_classes2" href="/classes_anon" class="mt-2 mb-2 mr-4 btn btn-outline-primary btn-md">My Classes</a>
</div>
<p class='mt-4 mb-4'>&nbsp;</p>


<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalTitle">Add a comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times; </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="md-form mb-1">
          <div class="form-group form-row">
          <label for="current_name" class="col-3" /> Student </label>
          <input id="current_name" style="max-width: 300px" class="col form-control validate" disabled />
          </div>

          <div class="form-group form-row">
            <label class="col-3" for="new_comment">Comment</label>
            <input style="max-width: 300px" type="text" id="new_comment" class="col form-control validate" value="" />
          </div>


          <div style="display: none">
            <input id="current_id" class="form-control validate" />
            <input id="current_date" class="form-control validate" />
            <input id="current_courseid" class="form-control validate" />
            <input id="current_email" class="form-control validate" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="comment_ok_button" type="button" class="btn btn-primary" data-dismiss="modal" onclick="add_comment()">OK</button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#commentModal").on("shown.bs.modal", function () {
    $("#new_comment").focus();
    setTimeout(function () {
      $("#new_comment").focus();
    }, 1000);
  });

  $(document).on("keyup", function(event) {  
    //Check if modal is visible and key code
    if ($("#commentModal").is(':visible') && event.keyCode === 13) {
      //Programatically click the button
      $("#comment_ok_button").click();
    }
  })
</script>



<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Edit Attendance Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times; </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="md-form mb-1">
          <div class="form-group form-row">
          <label for="current_name2" class="col-3" /> Student </label>
          <input id="current_name2" style="max-width: 300px" class="col form-control validate" disabled />
          </div>


          <div class="form-group form-row">
            <div class="col-3"><label for="new_status2">Status</label></div>
            <div class="col"><select style="width: 60px" type="text" id="new_status2" class="form-control validate"  autofocus />
              <option>P</option>
              <option>A</option>
              <option>L</option>
            </select></div>
          </div>
          <div class="form-group form-row">
            <div class="col-3"><label for="new_comment2">Comment</label></div>
            <div class="col"><input style="width: 300px" type="text" id="new_comment2" class="form-control validate"  /></div>
          </div>


          <div style="display: none">
            <input id="current_id2" class="form-control validate" />
            <input id="current_date2" class="form-control validate" />
            <input id="current_courseid2" class="form-control validate" />
            <input id="current_email2" class="form-control validate" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id = "edit_ok_button" type="button" class="btn btn-primary" data-dismiss="modal" onclick="edit_attendance()">OK</button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#editModal").on("shown.bs.modal", function () {
    $("#new_comment").focus();
    setTimeout(function () {
      $("#new_comment").focus();
    }, 1000);
  });

  $(document).on("keyup", function (event) {
    //Check if modal is visible and key code
    if ($("#editModal").is(":visible") && event.keyCode === 13) {
      //Programatically click the button
      $("#edit_ok_button").click();
    }
  })

</script>



{%endblock%}
