{% extends "base.html" %} {% block content %}

<!-- <div id="outerdiv" style="display: flex; text-align: center">
  <div id="innerdiv" style="margin-left: auto; margin-right: auto"> -->
<div style="text-align: center">
  <h1 id="h1" class="mb-0 font-weight-normal">Attendance Tracking</h1>
  <hr />
  <p></p>
  <h4 id="page_title" class="font-weight-normal mt-0 text-center"></h4>
  <h4 class="font-weight-normal mb-2">Absences: {{absences}}</h4>
</div>
<script>
  var title = "";
  var category = "{{category}}";
  console.log("category", category);
  if (category == "class") {
    title = "{{courseid}}";
  } else if (category == "student") {
    title = "{{student_name}}<br> {{student_class}}";
  } else if (category == "date") {
    title = "{{date}}";
  } else {
    title = "{{student_name}} <br> {{student_class}}";
  }
  console.log("Title", title);
  document.getElementById("page_title").innerHTML = title;
</script>
<div class="table-responsive">
  <table
    id="myTable"
    class="table mx-auto w-auto table-striped table-hover table-bordered table-fixed mb-4"
    style="border: 0px red solid; width: auto; margin: 0px auto"
  >
    <thead class="small">
      <th>Date</th>
      <th>Pd</th>
      <th>Class</th>
      <th>Name</th>
      <th class="text-center">St</th>
      <th>Comments</th>
    </thead>
    <tbody>
      {% for att in attendance %} {% if att.status =='A'%}
      <tr>
        <td>
          <script>
            var date = "{{ att.att_date}}".substring(5, 10);
            if (date.substring(0, 1) == 0) date = date.substring(1, 5);
            document.write(date);
          </script>
        </td>
        <td>
          <script>
            var sched = "{{ att.scheduleid}} ";
            sched = sched.substring(2, sched.length);
            document.write(sched);
          </script>
        </td>
        <td class="text-center">
          <script>
            document.write("{{ att.courseid}}".substring(0, 5));
          </script>
        </td>
        <td class="text-nowrap">{{ att.name}}</td>
        <td class="text-center">{{ att.status}}</td>
        <td>{{ att.comment}}</td>
      </tr>

      {%endif%} {%endfor%}
    </tbody>
  </table>
</div>
<!-- </div>
</div> -->
<hr class="mb-4" />
<script>
  $("#myTable").DataTable({
    pageLength: 20,
    paging: false,
    filter: true,
    deferRender: true,
    //scrollY: 1200,
    scrollCollapse: true,
    scroller: true,
    ordering: true,
    select: true,
    bSort: false,
  });
</script>
{% endblock content %}
