<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
  <head>
    <!-- Required meta tags -->
    <meta content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=.7, user-scalable=yes, maximum-scale=3.0, minimum-scale=.1, shrink-to-fit=no"
    />
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet" />
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

    <!-- <style>
    table {
      margin: 0 auto;
      width: 75% !important;
    }
  </style> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

    <script>
      function get_room() {
        console.log("get room");
        form = document.getElementById("myForm");
        r = document.getElementById("rm").value;
        console.log(r);
        form.action = "/dismissal/rm" + r;
        form.submit();
      }
    </script>
    <script src = "/static/js/base.js"></script>
    <script>
      get_user("{{teacher}}");
    </script>
    <title>{%block title%}MDY Teacher{%endblock%}</title>
  </head>
  <body class="bg">
    <header class="site-header">
      <nav class="navbar navbar-expand-xl navbar-dark bg-steel fixed-top">
        <div class="container">
          <a  class="navbar-brand" href="{{ url_for('my_schedule.display_full_schedule') }}">
            <img src="{{url_for('static', filename='img/mdy_logo.png')}}" width="40" height="40" alt="" />
          </a>
          <a class="navbar-brand mr-4" style="font-size:1.6em" href="{{ url_for('classes.classes_anon') }}">MDY Teacher</a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse float-right text-right pr-0" id="navbarToggle">



            <ul class="navbar-nav mr-auto ">
              <a id="my_schedule" class="nav-item nav-link mr-1 text-nowrap" style="font-size:1.0em;" href="/full_schedule">My Schedule</a>
              <a id="my_classes"class="nav-item nav-link  mr-1 text-nowrap" style="font-size:1.0em" href="{{ url_for('classes.classes_anon') }}">My Classes</a>
              <a class="nav-item nav-link mr-1 text-nowrap" style="font-size:1.0em" href="/records">Attendance Records</a>
              <a class="nav-item nav-link mr-1" style="font-size:1.0em" href="/dismissal_form">Dismissal</a>
              <a class="nav-item nav-link mr-1" style="font-size:1.0em" href="{{ url_for('lunch_menu') }}">Lunch Menu</a>
              <a class="nav-item nav-link mr-1" style="font-size:1.0em" href="{{ url_for('links.zoom_links') }}">Zoom Logins</a>




              <!-- <li class="nav-item dropdown mr-4" style="color: #cbd5db; margin-top: 0.5rem; position: relative">
                <a
                  style="color: #cbd5db"
                  class="dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Students</a
                >
                <div class="dropdown-menu float-right text-right pr-3" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/get_students/d/7">Grade 7</a>
                  <a class="dropdown-item" href="/get_students/d/8">Grade 8</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/get_students/d/all">All Students</a>
                </div>
              </li> -->

              <!-- <li class="nav-link nav-item dropdown mr-2 float-right text-right pr-0" style="width: 100px !important">
                <a
                  class="dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Grade 7</a
                >
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 0px !important">
                  <a class="dropdown-item" href="/dismissal/7G101" style="width: 100%">7G-101</a>
                  <a class="dropdown-item" href="/dismissal/7G102">7G-102</a>
                  <a class="dropdown-item" href="/dismissal/7G103">7G-103</a>
                  <a class="dropdown-item" href="/dismissal/7G111">7G-111</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/dismissal/7B201">7B-201</a>
                  <a class="dropdown-item" href="/dismissal/7B202">7B-202</a>
                  <a class="dropdown-item" href="/dismissal/7B203">7B-203</a>
                  <a class="dropdown-item" href="/dismissal/7B211">7B-211</a>
                </div>
              </li> -->

              <!-- <li class="nav-link nav-item dropdown mr-2 float-right text-right pr-0" style="width: 100px !important">
                <a
                  class="dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Grade 8</a
                >
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 0px !important">
                  <a class="dropdown-item" href="/dismissal/8G101">8G-101</a>
                  <a class="dropdown-item" href="/dismissal/8G102">8G-102</a>
                  <a class="dropdown-item" href="/dismissal/8G103">8G-103</a>
                  <a class="dropdown-item" href="/dismissal/8G111">8G-111</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/dismissal/8B201">8B-201</a>
                  <a class="dropdown-item" href="/dismissal/8B202">8B-202</a>
                  <a class="dropdown-item" href="/dismissal/8B203">8B-203</a>
                  <a class="dropdown-item" href="/dismissal/8B211">8B-211</a>
                </div>
              </li> -->
              <!-- <li class="nav-item mr-4"><a class="nav-link" href="{{ url_for('classes.classes_anon') }}"> Class Info</a></li> -->

              <!-- <li class="nav-item float-right text-right pr-2" style="width: 100px !important">
                <a class="nav-link" href="/zoom_schedule">Zoom Schedule</a>
              </li> -->
            </ul>
            <!-- Navbar Right Side -->

            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
              <script>
                //console.log("in base-denied.html");
                console.log("is authenticated");
                get_user("{{teacher}}");
                console.log(teacher = "{{teacher}}");
              </script>
              <li class="nav-link nav-item dropdown mr-4">
                <a
                  class="btn dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Send Emails</a
                >
                <div class="dropdown-menu float-right text-right pr-3" aria-labelledby="navbarDropdown" style="min-width: 0px !important">
                  <a class="nav-item nav-link " href="/set_custom_progress_msg/{{teacher}}">Missing Work</a>
                </div>
              </li>
              <a class="nav-item nav-link" href="{{ url_for('users.account') }}"> {{ current_user.username }}</a>
              <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
              {% else %}
              <script>
              console.log("is not authenticated");
              </script>
              <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
              {% endif %}
            </div>

            <!-- <div class="navbar-nav float-right text-right pr-3">
              <form id="myForm" class="form-inline my-2 my-lg-0">
                <input
                  id="rm"
                  class="form-control form-control-sm mr-2"
                  style="width: 120px"
                  type="search"
                  placeholder="Room Number"
                  aria-label="Submit"
                />
                <button class="btn btn my-2 my-sm-0 btn-sm" type="submit" onclick="get_room()">Submit</button>
              </form> -->
            
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container-fluid">
      <!--style="margin: 0 auto; width: 75% !important"-->
      <div class="row">
        <div class="col-md-12 mt-2" style="border: 0px solid red">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
          <div  class="text-center alert alert-{{ category }}" alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ message }}</div>
          {% endfor %} {% endif %} {% endwith %}
          <div style="border:0px solid red; display:none" id="ajax_alerts" class="text-center alert alert-success"><p> test</p></div>
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>



  </body>
</html>
