<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />

    {% block scale %}
    <meta
      name="viewport"
      content="width=device-width, initial-scale=.7, user-scalable=yes, maximum-scale=3.0, minimum-scale=.1, shrink-to-fit=no"
    />
    {% endblock %}

    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />

    <!-- <style>
    table {
      margin: 0 auto;
      width: 75% !important;
    }
  </style> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <title>{% block title %}MDY Attendance{% endblock %}</title>
    <script src="/static/js/base.js"></script>
  </head>
  <body class="bg">
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/today">
            <img src="{{url_for('static', filename='img/mdy_logo.png')}}" width="40" height="40" alt="" />
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse float-right text-right pr-3" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="navbar-brand mr-4" href="/">MDY Daily App</a>

              <!-- <li class="nav-link nav-item dropdown mr-2">
                <a
                  class="dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Schedule</a
                >
                <div class="dropdown-menu float-right text-right pr-3" aria-labelledby="navbarDropdown" style="min-width: 0px !important">
                  <a class="dropdown-item" href="/today" style="width: 100%">Today</a>
                  <a class="dropdown-item" href="/full_schedule" style="width: 100%">Weekly Schedule</a>
                  <a class="dropdown-item" href="/daily_schedule/M">Monday</a>
                  <a class="dropdown-item" href="/daily_schedule/T">Tuesday</a>
                  <a class="dropdown-item" href="/daily_schedule/W">Wednesday</a>
                  <a class="dropdown-item" href="/daily_schedule/Th">Thursday</a>
                </div>
              </li> -->

              <a style="display: none" class="nav-item nav-link mr-2 text-nowrap" href="/today">Today</a>
              <a style="display: none" class="nav-item nav-link mr-2" href="{{ url_for('classes.classes_all') }}">ClassInfo</a>

              <!-- <li class="nav-link nav-item dropdown mr-2">
                <a
                  class="dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Students</a
                >
                <div class="dropdown-menu float-right text-right pr-3" aria-labelledby="navbarDropdown" style="min-width: 0px !important">
                  <a class="dropdown-item" href="/get_students/a/all">All Students</a>
                  <a class="dropdown-item" href="/get_students/a/7">Grade 7</a>
                  <a class="dropdown-item" href="/get_students/a/8">Grade 8</a>
                </div>
              </li> -->

              <a class="nav-item nav-link ml-2" a href="/lessons/all">Lessons</a>
              <a class="nav-item nav-link ml-2" a href="{{ url_for('classes.grades') }}">Grades</a>
              <a id="my_schedule" class="nav-item nav-link text-nowrap" href="/full_schedule">My Schedule</a>

              <a id="my_classes" class="nav-item nav-link ml-2 text-nowrap" href="{{ url_for('classes.classes_anon') }}">My Classes</a>
              <a class="nav-item nav-link" href="/records"> Attendance Records</a>
              <a class="nav-item nav-link" href="/dismissal_form">Dismissal</a>
              <a class="nav-item nav-link" href="{{ url_for('lunch_menu') }}">Lunch</a>
              <a class="nav-item nav-link" href="{{ url_for('links.zoom_links') }}">Zoom</a>

              <a style="display: none" class="nav-item nav-link mr-2" href="/covid">Covid</a>

              <a id="weekA" style="display: none" class="nav-item nav-link" href="/set_week/A">Wk A</a>
              <a id="weekB" style="display: none" class="nav-item nav-link" href="/set_week/B">Wk B</a>
            </div>

            <!-- Navbar Right Side -->

            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
              <script>
                console.log("is authenticated");
                get_user("{{teacher}}");
              </script>
              <a class="nav-item nav-link" href="{{ url_for('users.account') }}"> {{ current_user.username }}</a>
              <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
              {% else %}
              <script>
                console.log("is not authenticated");
              </script>
              <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container-fluid">
      <!--style="margin: 0 auto; width: 75% !important"-->

      <div class="row" style="border: 0px solid blue">
        <div class="col-md-12 mt-2" style="border: 0px red solid">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
        </div>
      </div>
    </main>
  </body>
</html>
