{% extends "base-denied.html" %} {% block title %} MDY My Classes{% endblock %}{% block content %}
<style>
  tr:hover {
    /*background-color: #afdefb !important;*/
    background-color: #e0ffff !important;
  }
</style>
<script>
  var noclasses = "{{noclasses}}";
</script>
<script src="/static/js/classes_anon.js"></script>

<div id="outerdiv" style="display: flex; justify-content: center; text-align: center">
  <div id="innerdiv" style="margin-left: auto; margin-right: auto" class="content-section">
    <div style="text-align: center">
      <a href="/full_schedule" class="mt-4 mb-0">View My Schedule</a>
      <a id="my_today" href="/today" class="mt-4 mb-0"> | Today</a>

      <h1 class="mt-2 mb-1 display-4">My Classes</h1>

      <div class="font-weight-normal mt-2 mb-4">
        <a href="/get_students/d/7">Grade 7 Students</a> | <a href="/get_students/d/8">Grade 8 Students</a>
      </div>
    </div>

    <div id="no_classes" class="alert alert-danger mb-4" style="display: none">
      <a class="h4" href="/register_classes/{{teacher}}"
        >You have not set up your classes.<br />
        Click here to add your classes.</a
      >
    </div>

    <table
      id="myTable"
      class="table mx-auto w-auto table-striped table-hover table-bordered table-responsive"
      style="border: 0px red solid"
    >
      <thead>
        <th>Class</th>
        <th>Subject</th>
        <th>Room</th>
        <th>Amt</th>
        <th>Att</th>
      </thead>
      <tbody>
        {% for courses in courses %} {%if courses.teacher == current_user.username %}
        <tr>
          <script>
            var my_class = "{{ courses.classid}}";
            var my_course = "{{ courses.subject}}";
            //console.log("class= " + my_class);
            var my_day = "{{dow}}";
            //console.log("day= " + my_day);
          </script>
          <td>
            <a title="student info" id="class{{loop.index}}" href="get_students/d/{{ courses.classid}}">{{ courses.classcode.classid2}}</a>
          </td>
          <td>{{ courses.subject}}</td>
          <td>{{ courses.room}}</td>
          <td>{{ courses.classcode.amount}}</td>
          <td>
            <a
              id="attendance{{loop.index}}"
              title="take attendance"
              class="a btn-sm"
              onclick="set_values('{{ courses.classid}}', '{{ courses.subject}}')"
              data-toggle="modal"
              data-target="#exampleModalLong"
              ><i name="attendance" style="color: #1e2a5d" class="fa fa-edit fa-2x"></i>
            </a>
          </td>
          <script>
            var periodid = "{{today_schedid[loop.index-1]}}";
            highlight_current_period(periodid, "{{current_period}}");
          </script>
        </tr>
        {%endif%} {%endfor%}
      </tbody>
    </table>
    <script>
      $("#myTable").DataTable({
        pageLength: 20,
        paging: false,
        filter: true,
        deferRender: true,
        //scrollY: 1200,
        scrollCollapse: true,
        scroller: true,
        ordering: true,
        select: true,
        bSort: false,
        columnDefs: [{ orderable: false, targets: 4 }],
      });
    </script>

    <div style="text-align: right">
      <a id="my_classes2" href="/records" class="mt-4 mb-2 btn btn-outline-primary btn-md">View Attendance Records</a>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Which period is this?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times; </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="md-form mb-1">
          <div><label for="current_period">Enter a number from 0 to 10.</label></div>
          <div>
            <input style="width: 60px" type="text" id="current_period" class="form-control validate" placeholder="" autofocus />
            <script>
              $("#current_period").attr("value", "{{current_period}}".substring(1, 3));
            </script>
          </div>
          <div>
            <input style="width: 80px; display: none" type="text" id="current_class" class="form-control validate" />
          </div>
          <div>
            <input style="width: 200px; display: none" type="text" id="current_subject" class="form-control validate" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button
          id="period_ok_button"
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          onclick="select_current_period('{{ courses.classid}}', '{{ courses.subject}}')"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  $("#exampleModalLong").on("shown.bs.modal", function () {
    $("#current_period").focus();
    //$("#current_period").setCursorPosition(1);
    setTimeout(function () {
      $("#current_period").setCursorPosition(1);
      //$("#current_period").attr("value", "{{current_period}}".substring(1, 3));
    }, 1000);
  });

  $(document).on("keyup", function (event) {
    //Check if modal is visible and key code
    if ($("#exampleModalLong").is(":visible") && event.keyCode === 13) {
      //Programatically click the button
      $("#period_ok_button").click();
    }
  });

  if ("{{teacher}}" == "rfriedman") {
    $("#my_today").show();
  } else {
    $("#my_today").hide();
  }
</script>
{%endblock content%}
