{% extends "base-denied.html" %} {%block title%} Success {%endblock%} {% block content %}

<h1 class="mb-2 text-center font-weight-normal">Success!</h1>
<hr />
<p></p>

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

<h4 class="mt-4 mb-0 text-center font-weight-normal alert alert-success">Your {{topic}} has been recorded.</h4>
<p class="mt-4 mb-4">&nbsp;</p>
<div class="text-center">
  <!-- <a href="/full_schedule" class="mb-2 mr-4 btn btn-primary btn-md">Weekly Schedule</a>
  <a href="/today" class="mb-2 mr-4 btn btn-primary btn-md">Today's Schedule</a> -->
  <a id="my_classes2" href="/classes_anon" class="mb-2 mr-4 btn btn-primary btn-md">My Classes</a>
  <a id="view_att" href="/track_attendance/_x{{date}}{{courseid}}" class="mb-2 mr-4 btn btn-primary btn-md">View Attendance</a>
</div>
<script>
  var value = "{{value}}";
  var current_user = "{{current_user.username}}";
  console.log("value=" + value);
  if (value != "add_attendance" && value != "edit_attendance") {
    element = document.getElementById("view_att");
    element.setAttribute("style", "display:none");
  }
  if (value == "add_lesson" || value == "edit_lesson" || value == "update_lesson" || value == "delete_lesson") {
    element = document.getElementById("my_classes2");
    element.href = "/today";
  }

  if (current_user == "rfriedman" || teacher == "rfriedman") {
    element = document.getElementById("my_classes2");
    element.href = "/today";
  }
</script>
<hr class="mb-4" />
<p class="mt-4 mb-4">&nbsp;</p>

{% endblock content %}
