{% extends "base-denied.html" %} {% block title %}MDY Covid Tracking{% endblock %}{% block content %}
<script>
  var all_zip = {{all_zip | safe}};
</script>
<div id="title" class="container" style="text-align: center">
  <h1 font-weight-normal>Covid Tracking in NYC</h1>

  <div id="zip_div" style="border: 0px solid red; display: flex; justify-content: center">
    <form action="/track_covid/zip" method="post" name="form">
      {{ form.hidden_tag() }}
      <div class="form-row mt-2" style="border: 0px solid blue">
        <div class="col xs-2 text-nowrap">{{ form.zipcode.label(class="form-control-label form-control-sm ") }}</div>
        <div class="col xs-6">{{ form.zipcode(class="form-control form-control-sm", style="width:100px")}}</div>
        <div class="col xs-2">{{ form.submit(class="btn btn-sm btn-outline-info form-control-sm ml-1") }}</div>
        <div class="col">
          <a class="btn btn-sm btn-outline-info form-control-sm ml-1 col" href="/track_covid/all_zip" style="width: 70px">View All </a>
        </div>
      </div>
      <!--close zip row-->
    </form>
    <!--close zip form-->
  </div>
  <!--close zip div-->

  <div id="boro_div" style="display: flex; justify-content: center; border: 0px solid red">
    <form action="/track_covid/boro" method="post" name="form">
      {{ form.hidden_tag() }}
      <div class="form-row mt-2" style="border: 0px solid">
        <div class="col-xs-3">{{ form.boro.label(class="form-control-label form-control-sm") }}</div>
        <div class="col-xs-6">{{ form.boro(class="form-control form-control-sm", style="width:100px") }}</div>
        <div class="col-xs-3">{{ form.submit(class="btn btn-sm btn-outline-info form-control-sm ml-1") }}</div>
        <!-- <a class="btn btn-sm btn-outline-info form-control-sm ml-1 col" href="/track_covid/all_boro">View All </a> -->
      </div>
      <!--close boro row-->
    </form>
    <!--close boro form-->
  </div>
  <!--close boro div-->
</div>

<div id="test_div" style="display: flex; justify-content: center">
  <form action="/track_covid/daily_tests" method="post" name="form">
    {{ form.hidden_tag() }}
    <div class="row mt-2">
      <btn class="form-control-label form-control-sm col text-nowrap">Current Pos Rate NYC </btn>
      {{form.submit(class="btn btn-sm btn-outline-info form-control-sm ml-1 col") }}
    </div>
    <!--close test row-->
  </form>
  <!--close test form-->
</div>
<!--close test div-->

<div class="container" style="border:0px solid blue">
  <div id="results_div" class="mt-4" style="display: block; border: 0px solid red; text-align: center">
    <div class="row">
      <h2 class="col">{{title}}</h2>
    </div>
    <!--end heading Results-->
    <div class="row" style="border: 0px solid blue">
      <h4 class="col display-4">{{pos}}</h4>
      {{all_boro |safe}}
    </div>
    <!--close boro table-->

    <div id="table_wrapper" class="row justify-content-center">
      <div id="div_table" class="col-md-8" style="border: 0px red solid">
        <table
          id="myTable"
          class="table mx-auto w-auto table-striped table-hover table-bordered table-responsive text-center"
          style="border: 0px yellow solid; background:whitesmoke"
        >
          <thead>
            <th>Zip</th>
            <th>Neighborhood</th>
            <th>Boro</th>
            <th>Percent Positive</th>
            <th>Total Covid Tests</th>
          </thead>
          <tbody>
            {% for row in all_zip %}
            <tr>
              <script>
                var x = {{loop.index}}-1;
              </script>
              <td>
                <script>
                  document.write(all_zip[x][0]);
                </script>
              </td>
              <td class="text-left">
                <script>
                  document.write(all_zip[x][1]);
                </script>
              </td>
              <td>
                <script>
                  document.write(all_zip[x][2]);
                </script>
              </td>
              <td>
                <script>
                  var pos = parseFloat(all_zip[x][3]);
                  console.log(pos);
                  var s = document.createElement("span");
                  s.innerHTML = pos;
                  document.currentScript.parentElement.appendChild(s);
                  //document.write("<span type='num'> " + pos + "</span>");
                </script>
              </td>
              <td>
                <script>
                  document.write(all_zip[x][4]);
                </script>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
      <!--end table div-->
    </div>
    <!--end table wrapper div-->
  </div>
  <!--close results div-->
</div>
  <script>
    $("#myTable").DataTable({
      pageLength: 50,
      paging: true,
      filter: true,
      deferRender: true,
      //scrollY: 1200,
      scrollCollapse: true,
      scroller: true,
      ordering: true,
      select: true,
      bSort: false,
      ordering: true,
      aoColumns: [{ sType: "numeric" }, null, null, { sType: "numeric" }, { sType: "numeric" }],
      order: [[3, "desc"]],
    });
  </script>

  <!--close outer container-->
  {%endblock content %}
</div>
