{% extends "base-denied.html" %} {% block title %}{{title}} Schedule{% endblock %} {% block content %}
<script>
  function AutoRefresh(t) {
    var date = new Date(new Date().getTime()).toLocaleTimeString();
    console.log("Refreshed " + date);
    setTimeout("location.reload(true);", t);
  }

  var dow = "{{dow}}";
</script>

<script src="/static/js/daily_schedule.js"></script>

<div class="container d-flex justify-content-around" style="max-width: 600px; border: 0px solid red">
  <a id="next" class="btn btn-sm pt-4" onclick="get_prev()" style="display: none">
    <i class="fa fa-angle-left text-muted" style="font-size: 36px"></i>
  </a>
  <div>
    <h5 class="mt-1 text-center font-weight-normal"><a id="full_schedule" href="/full_schedule">My Schedule</a></h5>
    <h1 class="mt-1 text-center display-4">
      {{title}},
      <script>
        document.write(get_date());
      </script>
    </h1>
  </div>
  <a id="prev" class="btn btn-sm pt-4" onclick="get_next()" style="display: none">
    <i class="fa fa-angle-right text-muted" style="font-size: 36px"></i
  ></a>
</div>

<div class="table-responsive">
  <table
    id="myTable"
    class="table mx-auto table-hover row-border text-center mt-4 pt-4 w-auto table-fixed"
    style="background: snow; border: 0px solid green; width: auto; margin: 0px auto"
  >
    <thead>
      <th>Per</th>
      <th>Start</th>
      <th>End</th>
      <th>Class</th>
      <th>Subject</th>
      <th>Room</th>
      <th>Att</th>
    </thead>
    <tbody>
      {% for schedule in schedule %}
      <script>
        var dow = "{{dow}}"; //this is schedid in ths format A_M
        var per = [-1, 0, 1, 2, 3, 4, 5, -1, 6, 7, 8, 9, 10];
        if ("{{title}}".includes("Friday")) {
          var per = [-1, 0, 1, 2, 3, 4, -1, 5, 6, 7, 8, 9, 10];
        }
        var current_period = "{{current_period}}";
        //console.log("current period is" + current_period);
        //var per = parseInt({{ schedule.sort}})
      </script>

      <tr>
        <td id="period" class="h4">
          <script>
            var sched = "{{schedule.period2.periodid}}";
            if (per[{{loop.index}}] == 0) {
              document.write("");
              }

            else if (per[{{loop.index}}] != -1) {
            document.write(per[{{loop.index}}]);
            }
              else {
                document.currentScript.parentElement.parentElement.style.background = "#F0F0F0";
                document.write("L");
              }
              /*if (per[{{loop.index}}] ==8) {
                document.currentScript.parentElement.parentElement.style.background = "#F0F0F0";
              }*/

            if(sched == current_period){
              var num = current_period.substring(1); //change for Thursday
              for(i=0;i<num;i++){
                $('#atticon{{loop.index}}').css('color','red');
              }
                document.currentScript.parentElement.parentElement.style.background = "#e6ffe6";
            }
            //console.log("sched period periodid {{schedule.period2.periodid}}")
          </script>
        </td>
        <td id="start">{%if loop.index !=1 %} {{ start_times[loop.index-1] }}{%endif%}</td>
        <td id="end">{%if loop.index !=1 %} {{ end_times[loop.index-1] }}{%endif%}</td>

        <td id="classs" class="text-nowrap font-weight-normal">
          <script>
            var course = "{{ schedule.course2.classid}}"+"-{{ schedule.course2.subject}}";
            //console.log("course " + course);
            var p = per[{{loop.index}}];
            var c = "{{ schedule.course2.classid}}";
            var c2 = "{{ schedule.course2.classcode.classid2}}";
            var courseid = "{{ schedule.course2.courseid}}";
            if (courseid.includes('Minha') || courseid.includes('Recess') || per[{{loop.index}}]==0) {
                document.currentScript.parentElement.parentElement.style.background = "#F0F0F0";
              }
            //var t = '<a href="/today/' + c + '/' + dow + '/' +p + '">' + c + "</a>";
            var t = '<a href="/get_students/d/{{schedule.course2.classid}}"> {{schedule.course2.classcode.classid2}}</a>';
            var course = "{{ schedule.course2.subject}}" ;
            if ( course == "0" ) {
              document.write("");
            } else document.write(t);
          </script>
        </td>

        <td id="subject">
          <script>
            if (p == -1) document.write("Lunch");
            else if ("{{ schedule.course2.subject}}" == "0") {
              document.write("");
            } else document.write("{{ schedule.course2.subject}}");
            //console.log(p);
          </script>
        </td>

        <td id="room">
          <script>
            if (course != "0") {
              document.write("{{ schedule.course2.room}}");
            } else document.write("");
          </script>
        </td>
        <td id="attendance">
          <script>
            var icon = "<i id='atticon{{loop.index}}' style='color: #1e2a5d' class = 'fa fa-edit fa-2x'> </i>";

            var t = '<a style="color:#1e2a5d" href="/attendance/' + c + "/" + courseid + "/" + dow + "/" + p + '">' + icon + "</a>";
            if (course == "0" || courseid.includes("Recess") || courseid.includes("Lunch") || courseid.includes("Breakfast")) {
              document.write("");
            } else document.write(t);

            if (sched == current_period) {
              if ("{{title}}".includes("Thursday")) {
                var num = parseInt(current_period.substring(2));
              } else var num = parseInt(current_period.substring(1));

              //console.log("num=" + num);
              for (i = 1; i <= num; i++) {
                var element = document.getElementById("atticon" + i);
                if (element) {
                  //console.log("atticon=" + element);
                  element.style.color = "Silver";
                }
                //console.log("i=" + i);
              }
              document.currentScript.parentElement.parentElement.style.background = "#e6ffe6"; //this has already been set at the start of the row, but leaving it here as a backup
            }
          </script>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

<script>
  var current_week = "{{current_week}}";
  window.onload = function () {
    AutoRefresh(300000);
    if (current_week == "A") {
      document.getElementById("weekA").classList.add("active");
      document.getElementById("weekB").classList.remove("active");
    } else if (current_week == "B") {
      document.getElementById("weekB").classList.add("active");
      document.getElementById("weekA").classList.remove("active");
    }
  };
</script>

<script>
  var sched = {{sched_list | tojson}};
  //console.log(sched);

  function get_next(){
    var current = "{{dow}}";
    //console.log(current);
    for(i=0; i< sched.length; i++){
      if(current.substring(2,4)=="F"){
        //document.getElementById("next").disabled=true;
        next=sched[0];
        //console.log("next day should be Mon " + next);
        window.location.href = "/display_daily_schedule/" + next;
      }
      else if(sched[i]==current){
        next = sched[i+1];
        //console.log("Next day: " + next);
        window.location.href = "/display_daily_schedule/" + next;
      }
    }
  }


  function get_prev(){
    console.log("prev function");
    var current = "{{dow}}";
    console.log(current);
    for(i=0; i< sched.length; i++){
      if(current.substring(2,3)=="M"){
        prev=sched[4];
        window.location.href = "/display_daily_schedule/" + prev;
      }
      else if(sched[i]==current){
        prev = sched[i-1];
        window.location.href = "/display_daily_schedule/" + prev;
      }
    }
  }
</script>
<hr class="mt-4 mb-4" />

{% endblock content %}
