{% extends "base.html" %} {% block content %}

<h1 id="h1" class="font-weight-normal mt-4 mb-4 text-center">Editing Lesson</h1>
<hr />
<p></p>
<h4 id="page_title" class="mt-4 mb-4 font-weight-light">Lesson ID: {{lessonid}}</h4>

<table class="mt-4">
  <tr>
    <th>Content</th>
  </tr>

  <tr>
    <td id="newcontent" contenteditable="true">{{content}}</td>
  </tr>
</table>
<button class="btn btn-primary btn-md mt-4 mb-4 mt-0 form-control-lg" onclick="change()">Change</button>
<script>
  function change() {
    var newcontent = document.getElementById("newcontent").innerHTML;
    a = document.getElementById("update");
    a.href = "/update_lesson/{{lessonid}}/" + newcontent;
    a.style.display = "block";
    a.setAttribute("class", "btn btn-primary btn-md mt-4 mb-4 mt-0 form-control-lg");
  }
</script>

<a id="update" style="display: none" class="btn btn-primary btn-md mt-4 mb-4 mt-0 form-control-lg">Submit</a>

{% endblock content %}
