{% extends "base.html" %} {%block title%} Attendance Form {%endblock%} {%block content%}

<script>
  var students = [];
</script>

<form action="/update_attendance" method="post" name="att_form">
  {{ att_form.hidden_tag() }}
  <h1>{{ att_form.title }}</h1>
  <br />
  {{ att_form.data.label(class="form-control-label") }} {{ att_form.data(class="form-control form-control-lg") }}
  <div>
    <table>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Status</th>
        <th>Comment</th>
      </tr>
      {% for student in att_form.students %}
      <tr>
        <td>{{ student.email }}</td>
        <td>{{ student.student }}</td>
        <td>{{ student.status }}</td>
        <td>{{ student.comment}}</td>
      </tr>
      <script>
        var newStudent = "student" + "{{loop.index}}";
        var newEmail = "{{ student.email.data }}";
        var newName = "{{ student.student.data }}";
        var newStatus = "{{ student.status.value }}";
        var newComment = "{{ student.comment.data }}";
        var jsonData = {};
        jsonData["email"] = newEmail;
        jsonData["name"] = newName;
        jsonData["status"] = newStatus;
        jsonData["comment"] = newComment;
        students.push(jsonData);
      </script>
      {% endfor %}
      <script>
        document.getElementsByName("data").value = students;
        console.log(students);
      </script>
    </table>
  </div>
  {{ att_form.save(class="btn btn-outline-info form-control-lg") }}
</form>

{%endblock%}
