{% extends "base.html" %} {% block title %}MDY Schedule{% endblock %} {% block content %}
<script src="/static/js/full_schedule.js"></script>
<div class="d-flex justify-content-around" style="border: 0px solid red">
  <button id="next" class="btn btn-sm" onclick="get_prev()" style="display: block">
    <i class="fa fa-angle-left text-muted" style="font-size: 36px"></i>
  </button>
  <h1 class="mt-1 4 text-center font-weight-normal">{{title}}</h1>
  <button id="prev" class="btn btn-sm" onclick="get_next()" style="display: block">
    <i class="fa fa-angle-right text-muted" style="font-size: 36px"></i>
  </button>
</div>
<script>
  console.log("hello there");
  var wk = "{{current_week}}";
  var dow = ["A_M", "A_T", "A_W", "A_Th"]; //change this to wk variable later
  var per = [0, 1, 2, 3, 4, 5, "L", 6, 7, 8, 9, 10];
</script>

<div class="table-responsive">
  <table
    id="myTable"
    class="table mx-auto table-hover table-bordered text-center mt-4 pt-4 w-auto table-fixed"
    style="border: 0px solid green; width: auto; margin: 0px auto"
  >
    <thead>
      <th>Per</th>
      <th>Time</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
    </thead>

    <tbody>
      {%for n in range(11)%}
      <tr>
        <td>
          <script>
            document.write(per[{{n}}+1]);
          </script>
        </td>
        <td>{{start_times[n]}}<br />-<br />{{end_times[n]}}</td>
        <td>{{mon[n].courseid}}</td>
        <td>{{tues[n].courseid}}</td>
        <td>{{wed[n].courseid}}</td>
        <td>{{thurs[n].courseid}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

<script>
  var current_week = "{{current_week}}";
  window.onload = function () {
    if (current_week == "A") {
      document.getElementById("weekA").classList.add("active");
      document.getElementById("weekB").classList.remove("active");
    } else if (current_week == "B") {
      document.getElementById("weekB").classList.add("active");
      document.getElementById("weekA").classList.remove("active");
    }
  };
</script>

<hr class="mt-4 mb-4" />

{% endblock content %}
