{% extends "base-denied.html" %} {% block scale %}
<meta
  name="viewport"
  content="width=device-width, initial-scale=.6, user-scalable=yes, maximum-scale=4.0, minimum-scale=.06, shrink-to-fit=no"
/>
{% endblock %} {% block title %}My Schedule{% endblock %} {% block content %}
<script src="/static/js/schedule.js"></script>
<script>
  var current_week = "{{current_week}}";
  console.log({{total_periods}});
  var dow = "{{dow}}";
  console.log("dow is "+ dow);
</script>
<!-- <div class="container d-flex justify-content-around" style="border: 0px solid red; max-width: 750px">
  <a id="next" class="btn btn-sm pt-4" style="display: none">
    <i class="fa fa-angle-left text-muted" style="font-size: 36px"></i>
  </a>
  <h1 class="mt-1 4 text-center display-4">title</h1>
  <a id="prev" class="btn btn-sm pt-4" style="display: none">
    <i class="fa fa-angle-right text-muted" style="font-size: 36px"></i>
  </a>
</div> -->
<div class="mt-1 text-center " >
<a class="myclass" href="/classes_anon" >View My Classes</a> 

</div>
<div class="container d-flex justify-content-around" style="border: 0px solid red; max-width: 750px">
  
  <a id="next" class="btn btn-sm pt-4" style="display: none">
    <i class="fa fa-angle-left text-muted" style="font-size: 36px"></i>
  </a>
  <h1 class="mt-1 4 text-center display-4">{{title}}</h1>
  <a id="prev" class="btn btn-sm pt-4" style="display: none">
    <i class="fa fa-angle-right text-muted" style="font-size: 36px"></i>
  </a>
</div>

<h5 class="mt-1 text-center font-weight-normal" ><a class="myclass" id="mytoday" href="/today2">Today</a></h5>


<h6 id="no_sched" class="text-center alert alert-danger mb-4" style="max-width: 800px; margin: auto; color: red; display: none">
  <!-- <a href="mailto:app-attendance@mdyschool.org" target="_blank" rel="noopener noreferrer"> -->
  Your personalized schedule will be generated after there are attendance records for every day of the week. You will then be able to take
  attendance directly from your schedule.
  <!-- </a> -->
</h6>
<style>
  a {
    color: #1e2a5d;
  }
  a:hover {
    color: blue;
    text-decoration: none;
  }

/*  
  td:hover {
    background-color: #e0ffff !important;
  }
  

  @media (hover:none){
    td {
      background-color: none;
    }
  } 
  */

  @media (hover: hover) {
    td:hover {
        background-color:#e0ffff !important;
    }
}

  td a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .myclass {
    color: rgb(51, 120, 224);
    text-decoration: none;
  }
</style>

<div class="table-responsive">
  <table
    id="myTable"
    class="table mx-auto table-bordered text-center mt-4 pt-4 w-auto table-fixed"
    style="background: whitesmoke; border: 0px solid green; width: auto; margin: 0px auto"
  >
    <thead style="border-width: medium; border-top: solid lightslategray; border-bottom: solid lightslategray">
      <th style="border-left: solid lightslategray">Period</th>
      <th>Mon<span class="fullday">day</span></th>
      <th>Tues<span class="fullday">day</span></th>
      <th>Wed<span class="fullday">nesday</span></th>
      <th style="border-right: solid lightslategray">Thurs<span class="fullday">day</span></th>
      <th>Fri Per</th>
      <th style="border-right:solid lightslategray; ">Fri<span class="fullday">day</span></th>
    </thead>

    <tbody>
      {%for n in range(total_periods)%}
      <tr style="border-width: thick">
        <script>
          /*
          if("{{dow}}".includes('F')){
            var curr_per = per_fri[{{n}}+1];
          }
          else */
          var curr_per = per[{{n}}+1];
          //console.log('n='+ {{n}});
          if({{total_periods}}==12)  curr_per = per[{{n}}];
      

          if (curr_per == "L" ) {
            //document.currentScript.parentElement.style.background = "Gainsboro";
          }
        </script>

        <td name="periods" style="border-width: medium; vertical-align: middle; border-left:solid lightslategray; "  class="text-nowrap">
          <div class="text-nowrap" style="display: flex; justify-content: space-between">
            <div name="period" class="h1 font-weight-light pl-1 pr-1" style="font-size: 3em;"" >
              <script>
                document.write(curr_per);
              </script>
            </div>
            <div name="times" class="" style="border-width: medium; font-size: 1em">{{start_times[n]}}<br />-<br />{{end_times[n]}}</div>
          </div>
        </td>

        

        <td name="monday" style="border-width: medium; vertical-align: middle; ">
          <a>
            <script>
              var mon = "{{mon.courseid2[n]}}";
              //console.log("mon.scheduleid = {{mon.scheduleid[n]}}");
              mon = mon.replace(/^(.+?-.+?)-\s*/g, "$1<br>");
              if (mon != "None") document.write(mon);
              var parent = document.currentScript.parentElement;
              var schedid = "{{mon.scheduleid[n]}}".substring(0, 3);
              var curr_class = "{{mon.courseid[n]}}".substring(0, 5);
              var classid = "{{mon.classid2[n]}}";
              var curr_course = "{{mon.courseid[n]}}";
              color_code("{{mon.scheduleid[n]}}", "{{current_period}}");
              color_code_cs("{{teacher}}", "{{mon.scheduleid[n]}}", "{{current_period}}");
              color_recess();
              if (curr_per == "L" || curr_course.includes("Recess") || curr_course.includes("Minha") || curr_per==0) {
                document.currentScript.parentElement.parentElement.style.background = "Gainsboro";
              }
              write_linktocourse("{{mon.scheduleid[n]}}", "{{current_period}}");
            </script>
          </a>
        </td>

        <td name="tuesday" style="border-width: medium; vertical-align: middle">
          <a>
            <script>
              var tues = "{{tues.courseid2[n]}}";
              tues = tues.replace(/^(.+?-.+?)-\s*/g, "$1<br>");
              if (tues != "None") {
                document.write(tues);
              }
              var parent = document.currentScript.parentElement;
              var schedid = "{{tues.scheduleid[n]}}".substring(0, 3);
              var curr_class = "{{tues.courseid[n]}}".substring(0, 5);
              var classid = "{{tues.classid2[n]}}";
              var curr_course = "{{tues.courseid[n]}}";
              color_code("{{tues.scheduleid[n]}}", "{{current_period}}");
              color_code_cs("{{teacher}}","{{tues.scheduleid[n]}}", "{{current_period}}");
              color_recess();
              if (curr_per == "L" || curr_course.includes("Recess") || curr_course.includes("Minha")  || curr_per==0) {
                document.currentScript.parentElement.parentElement.style.background = "Gainsboro";
                document.currentScript.parentElement.parentElement.parentElement.style.background = "Gainsboro";
              }
              write_linktocourse("{{tues.scheduleid[n]}}", "{{current_period}}");
            </script>
          </a>
        </td>
        <td name="wednesday" style="border-width: medium; vertical-align: middle">
          <a>
            <script>
              var wed = "{{wed.courseid2[n]}}";
              wed = wed.replace(/^(.+?-.+?)-\s*/g, "$1<br>");
              if (wed != "None") document.write(wed);
              var parent = document.currentScript.parentElement;
              var schedid = "{{wed.scheduleid[n]}}".substring(0, 3);
              var curr_class = "{{wed.courseid[n]}}".substring(0, 5);
              var classid = "{{wed.classid2[n]}}";
              var curr_course = "{{wed.courseid[n]}}";
              color_code("{{wed.scheduleid[n]}}", "{{current_period}}");
              color_code_cs("{{teacher}}", "{{wed.scheduleid[n]}}", "{{current_period}}");
              color_recess();
              if (curr_per == "L" || curr_course.includes("Recess") || curr_course.includes("Minha")  || curr_per==0 ) {
                document.currentScript.parentElement.parentElement.style.background = "Gainsboro";
              }
              write_linktocourse("{{wed.scheduleid[n]}}", "{{current_period}}");
            </script>
          </a>
        </td>
        <td name="thursday" style="border-width: medium; border-right: solid lightslategray; vertical-align: middle">
          <a>
            <script>
              var thurs = "{{thurs.courseid2[n]}}";
              thurs = thurs.replace(/^(.+?-.+?)-\s*/g, "$1<br>");
              if (thurs != "None") document.write(thurs);
              var parent = document.currentScript.parentElement;
              var schedid = "{{thurs.scheduleid[n]}}".substring(0, 4);
              var curr_class = "{{thurs.courseid[n]}}".substring(0, 5);
              var classid = "{{thurs.classid2[n]}}";
              var curr_course = "{{thurs.courseid[n]}}";
              color_code("{{thurs.scheduleid[n]}}", "{{current_period}}");
              color_code_cs("{{teacher}}","{{thurs.scheduleid[n]}}", "{{current_period}}");
              color_recess();
              if (curr_per == "L" || curr_course.includes("Recess") || curr_course.includes("Minha")  || curr_per==0) {
                document.currentScript.parentElement.parentElement.style.background = "Gainsboro";
              }
              write_linktocourse("{{thurs.scheduleid[n]}}", "{{current_period}}");
            </script>
          </a>
        </td>

        <td name="friperiods" style="border-width: medium; vertical-align: middle;" class="text-nowrap">
          <div class="text-nowrap" style="display: flex; justify-content: space-between">          
          <div name="fri-per" class="h1 font-weight-light pl-1 pr-2">
              <script>
                curr_per = per_fri[{{n}}+1];
                if({{total_periods}}==12)  curr_per = per_fri[{{n}}];
                if (curr_per < 8 || curr_per =='L') document.write(curr_per);
                if(curr_per =='L') {
                  document.currentScript.parentElement.parentElement.parentElement.style.background = "Gainsboro";

                }
                else {
                  document.currentScript.parentElement.parentElement.parentElement.style.background = "whitesmoke";
              }
              </script>
          </div>

            <div name="fri_times">
          <script>
            curr_per = per_fri[{{n}}+1];
            if({{total_periods}}==12)  curr_per = per_fri[{{n}}];
            if (curr_per < 8 || curr_per == "L") {
              document.write("{{fri_start_times[n]}}<br />-<br />{{fri_end_times[n]}}");
              //document.currentScript.parentElement.style.background = "whitesmoke";
            }
            if (curr_per > 7) {
              //document.currentScript.parentElement.style.background = "whitesmoke";
            }
            if (curr_per == "L"  || curr_per==0) {
              document.currentScript.parentElement.parentElement.parentElement.style.background = "Gainsboro";
            }
          </script>
              </div>  
            </div>
        </td>

        <td name="friday" style="border-width: medium; vertical-align: middle; border-right:solid lightslategray; ">
          <a>
            <script>
              curr_per = per_fri[{{n}}+1];
              if({{total_periods}}==12)  curr_per = per_fri[{{n}}];

              var fri = "{{fri.courseid2[n] if fri.courseid2[n] !=None }}";
              fri = fri.replace(/^(.+?-.+?)-\s*/g, "$1<br>");
              if (fri != "None") document.write(fri);
              if (curr_per==5) {
                document.currentScript.parentElement.parentElement.style.background = "whitesmoke";
              }
              if (curr_per < 8 || curr_per == "L") {
                var parent = document.currentScript.parentElement;
                var schedid = "{{fri.scheduleid[n]}}".substring(0, 3);
                var curr_class = "{{fri.courseid[n]}}".substring(0, 5);
                var classid = "{{fri.classid2[n]}}";
                var curr_course = "{{fri.courseid[n]}}";
                color_code("{{fri.scheduleid[n]}}", "{{current_period}}");
                color_code_cs("{{teacher}}","{{fri.scheduleid[n]}}", "{{current_period}}");
                color_recess();
                if (curr_per == "L"  || curr_per==0) {
                  document.currentScript.parentElement.parentElement.style.background = "Gainsboro";
                }
              }
                else {
                document.currentScript.parentElement.parentElement.style.background = "whitesmoke";
              }
              write_linktocourse("{{fri.scheduleid[n]}}", "{{current_period}}");
            </script>
          </a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

  <div class="container" style="max-width: 500px; text-align:center">
  <a class="mt-4 mb-2 mr-4 btn btn-outline-primary" href="/records">View Attendance Records</a>
</div>
</div>

<script>
  window.onload = function () {
    console.log('{{teacher}}');
    if('{{teacher}}'=='rfriedman'){
      $('#mytoday').css('display', 'block');
      $('#prev').css('display', 'block');
      $('#next').css('display', 'block');
    }
    else {
      //$('#mytoday').css('display', 'none');
      $('#prev').css('display', 'none');
      $('#next').css('display', 'none');
    }

    AutoRefresh(300000);

    if (current_week == "A") {
      //document.getElementById("weekA").classList.add("active");
      //document.getElementById("weekB").classList.remove("active");
      document.getElementById("prev").href = "/set_week/B";
      document.getElementById("next").href = "/set_week/B";
    } else if (current_week == "B") {
      //document.getElementById("weekB").classList.add("active");
      //document.getElementById("weekA").classList.remove("active");
      document.getElementById("prev").href = "/set_week/A";
      document.getElementById("next").href = "/set_week/A";
    }
  };

  if ({{no_schedule}} == 0) {
    console.log("no schedule set up");
    $("#no_sched").css("display", "block");
    $("#mytoday").css("display", "none");

  } else {
    //console.log("sched set up");
    $("#no_sched").css("display", "none");
  }

  if ("{{teacher}}" == "rfriedman") {
    element = document.getElementById("mytoday");
    if (element) element.href = "/today";
  }
</script>
<hr class="mt-4 mb-4" />
{% endblock content %}
