{% extends "base-denied.html" %} {% block scale %}
<meta
  name="viewport"
  content="width=device-width, initial-scale=.6, user-scalable=yes, maximum-scale=4.0, minimum-scale=.06, shrink-to-fit=yes"
/>
{% endblock %} {% block title %}My Schedule{% endblock %} {% block content %}
<script src="/static/js/schedule.js"></script>
<script>
  var current_week = "{{current_week}}";
</script>
<div class="container d-flex justify-content-around" style="border: 0px solid red; max-width: 750px">
  <a id="next" class="btn btn-sm pt-4" style="display: none">
    <i class="fa fa-angle-left text-muted" style="font-size: 36px"></i>
  </a>
  <h1 class="mt-1 4 text-center display-4">{{title}}</h1>
  <a id="prev" class="btn btn-sm pt-4" style="display: none">
    <i class="fa fa-angle-right text-muted" style="font-size: 36px"></i>
  </a>
</div>
<h5 style="display: none" class="mt-1 text-center font-weight-normal"><a href="/today">Today</a></h5>
<h6 id="no_sched" class="text-center alert alert-danger mb-4" style="max-width: 800px; margin: auto; color: red; display: none">
  <!-- <a href="mailto:app-attendance@mdyschool.org" target="_blank" rel="noopener noreferrer"> -->
  Email a copy of your schedule to app-attendance@mdyschool.org. <br />
  You will then be able to take attendance by clicking on the class name.
  <!-- </a> -->
</h6>
<style>
  a {
    color: black;
  }
  a:hover {
    color: blue;
    text-decoration: none;
  }
  td:hover {
    background-color: #e0ffff !important;
  }

  td a {
    display: block;
    width: 100%;
    height: 100%;
  }
</style>

<div class="table-responsive">
  <table
    id="myTable"
    class="table mx-auto table-bordered text-center mt-4 pt-4 w-auto table-fixed"
    style="background: whitesmoke; border: 0px solid green; width: auto; margin: 0px auto"
  >
    <thead style="border-width: medium">
      <th>Per</th>
      <th>Time</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Fri<br />Per</th>
      <th>Fri<br />Time</th>
      <th>Friday</th>
    </thead>

    <tbody>
      {%for n in range(11)%}
      <tr>
        <script>
          var curr_per = per[{{n}}+1];
          if (curr_per == "L" ) {
            //document.currentScript.parentElement.style.background = "Gainsboro";
          }
        </script>

        <td name="periods" class="display-4" style="border-width: medium">
          <script>
            document.write(curr_per);
          </script>
        </td>

        <td name="times" style="border-width: medium">{{start_times[n]}}<br />-<br />{{end_times[n]}}</td>

        <td name="monday" style="border-width: medium; vertical-align: middle">
          <a>
            <script>
              var mon = "{{mon.courseid2[n]}}";
              mon = mon.replace(/^(.+?-.+?)-\s*/g, "$1<br>");
              document.write(mon);
              var parent = document.currentScript.parentElement;
              var schedid = "{{mon.scheduleid[n]}}".substring(0, 3);
              var curr_class = "{{mon.courseid[n]}}".substring(0, 5);
              var classid = "{{mon.classid2[n]}}";
              var curr_course = "{{mon.courseid[n]}}";
              color_code("{{mon.scheduleid[n]}}", "{{current_period}}");
              color_code_cs("{{mon.scheduleid[n]}}", "{{current_period}}");
              color_recess();
              write_linktocourse("{{mon.scheduleid[n]}}", "{{current_period}}");
              if (curr_per == "L" || curr_course.includes("Recess")) {
                document.currentScript.parentElement.parentElement.style.background = "Gainsboro";
              }
            </script>
          </a>
        </td>

        <td name="tuesday" style="border-width: medium; vertical-align: middle">
          <a>
            <script>
              var tues = "{{tues.courseid2[n]}}";
              tues = tues.replace(/^(.+?-.+?)-\s*/g, "$1<br>");
              document.write(tues);
              var parent = document.currentScript.parentElement;
              var schedid = "{{tues.scheduleid[n]}}".substring(0, 3);
              var curr_class = "{{tues.courseid[n]}}".substring(0, 5);
              var classid = "{{tues.classid2[n]}}";
              var curr_course = "{{tues.courseid[n]}}";
              color_code("{{tues.scheduleid[n]}}", "{{current_period}}");
              color_code_cs("{{tues.scheduleid[n]}}", "{{current_period}}");
              color_recess();
              write_linktocourse("{{tues.scheduleid[n]}}", "{{current_period}}");
              if (curr_per == "L" || curr_course.includes("Recess")) {
                document.currentScript.parentElement.parentElement.style.background = "Gainsboro";
                document.currentScript.parentElement.parentElement.parentElement.style.background = "Gainsboro";
              }
            </script>
          </a>
        </td>
        <td name="wednesday" style="border-width: medium; vertical-align: middle">
          <a>
            <script>
              var wed = "{{wed.courseid2[n]}}";
              wed = wed.replace(/^(.+?-.+?)-\s*/g, "$1<br>");
              document.write(wed);
              var parent = document.currentScript.parentElement;
              var schedid = "{{wed.scheduleid[n]}}".substring(0, 3);
              var curr_class = "{{wed.courseid[n]}}".substring(0, 5);
              var classid = "{{wed.classid2[n]}}";
              var curr_course = "{{wed.courseid[n]}}";
              color_code("{{wed.scheduleid[n]}}", "{{current_period}}");
              color_code_cs("{{wed.scheduleid[n]}}", "{{current_period}}");
              color_recess();
              write_linktocourse("{{wed.scheduleid[n]}}", "{{current_period}}");
              if (curr_per == "L" || curr_course.includes("Recess")) {
                document.currentScript.parentElement.parentElement.style.background = "Gainsboro";
              }
            </script>
          </a>
        </td>
        <td name="thursday" style="border-width: medium; vertical-align: middle">
          <a>
            <script>
              var thurs = "{{thurs.courseid2[n]}}";
              thurs = thurs.replace(/^(.+?-.+?)-\s*/g, "$1<br>");
              document.write(thurs);
              var parent = document.currentScript.parentElement;
              var schedid = "{{thurs.scheduleid[n]}}".substring(0, 4);
              var curr_class = "{{thurs.courseid[n]}}".substring(0, 5);
              var classid = "{{thurs.classid2[n]}}";
              var curr_course = "{{thurs.courseid[n]}}";
              color_code("{{thurs.scheduleid[n]}}", "{{current_period}}");
              color_code_cs("{{thurs.scheduleid[n]}}", "{{current_period}}");
              color_recess();
              write_linktocourse("{{thurs.scheduleid[n]}}", "{{current_period}}");
              if (curr_per == "L" || curr_course.includes("Recess")) {
                document.currentScript.parentElement.parentElement.style.background = "Gainsboro";
              }
            </script>
          </a>
        </td>
        <td name="fri_per" class="h2 font-weight-light" style="border-width: medium; vertical-align: middle">
          <script>
            if (curr_per == 5) {
              document.write("L");
              document.currentScript.parentElement.style.background = "Gainsboro";
            } else if (curr_per == "L") {
              document.currentScript.parentElement.style.background = "whitesmoke";
              document.write("5");
            } else if (curr_per < 8) document.write(curr_per);
            else document.currentScript.parentElement.style.background = "whitesmoke";
          </script>
        </td>
        <td name="fri_times" style="border-width: medium; vertical-align: middle">
          <script>
            if (curr_per < 8 || curr_per == "L") {
              document.write("{{fri_start_times[n]}}<br />-<br />{{fri_end_times[n]}}");
              document.currentScript.parentElement.style.background = "whitesmoke";
            }
            if (curr_per > 7) {
              document.currentScript.parentElement.style.background = "whitesmoke";
            }
            if (curr_per == 5) {
              document.currentScript.parentElement.style.background = "Gainsboro";
            }
          </script>
        </td>

        <td style="border-width: medium; vertical-align: middle">
          <a>
            <script>
              var fri = "{{fri.courseid2[n] if fri.courseid2[n] !=None }}";
              fri = fri.replace(/^(.+?-.+?)-\s*/g, "$1<br>");
              document.write(fri);
              if (curr_per < 8) {
                var parent = document.currentScript.parentElement;
                var schedid = "{{fri.scheduleid[n]}}".substring(0, 4);
                var curr_class = "{{fri.courseid[n]}}".substring(0, 5);
                var classid = "{{fri.classid2[n]}}";
                var curr_course = "{{fri.courseid[n]}}";
                color_code("{{fri.scheduleid[n]}}", "{{current_period}}");
                color_code_cs("{{fri.scheduleid[n]}}", "{{current_period}}");
                color_recess();
                write_linktocourse("{{fri.scheduleid[n]}}", "{{current_period}}");
                if (curr_per == "L" || curr_course.includes("Recess")) {
                  document.currentScript.parentElement.parentElement.style.background = "Gainsboro";
                }
              } else {
                document.currentScript.parentElement.parentElement.style.background = "whitesmoke";
              }
              if (curr_per == 5) {
                document.currentScript.parentElement.parentElement.style.background = "Gainsboro";
              }
            </script>
          </a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

<script>
  window.onload = function () {
    AutoRefresh(300000);

    if (current_week == "A") {
      //document.getElementById("weekA").classList.add("active");
      //document.getElementById("weekB").classList.remove("active");
      document.getElementById("prev").href = "/set_week/B";
      document.getElementById("next").href = "/set_week/B";
    } else if (current_week == "B") {
      //document.getElementById("weekB").classList.add("active");
      //document.getElementById("weekA").classList.remove("active");
      document.getElementById("prev").href = "/set_week/A";
      document.getElementById("next").href = "/set_week/A";
    }
  };

  if ({{no_schedule}} == 0) {
    console.log("no schedule set up");
    $("#no_sched").css("display", "block");
  } else {
    console.log("sched set up");
    $("#no_sched").css("display", "none");
  }
</script>
<hr class="mt-4 mb-4" />
{% endblock content %}
