{% extends "base.html" %} {%block title%} MDY Daily App {%endblock%} {% block content %}

<h2 class="mb-0 text-center font-weight-normal">MDY Daily App</h2>
<hr />
<h4 class="mt-0 text-center font-weight-normal"><a href="/list_users">View users </a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="/admin/adm_attendance">View today's attendance </a></h4>
<!--h4 class="mt-4 text-center font-weight-normal"><a href="/weekly_schedule/A">Week A </a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="/weekly_schedule/B">Week B </a></h4-->
<h4 class="mt-4 text-center font-weight-normal"><a href="/full_schedule">Full Schedule </a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="{{ url_for('classes.classes_all') }}"> All Classes</a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="/get_students/a/all">All Students</a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="/records"> Attendance Tracking</a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="/lessons/all">Lessons</a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="/dismissal_form">Dismissal</a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="{{ url_for('lunch_menu') }}">Lunch Menu</a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="{{ url_for('classes.classes_anon') }}"> All Classes (anon)</a></h4>

<a class="btn btn-primary" href="/send_email">Send email</a>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Launch demo modal</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Which period is this?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times; </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="md-form mb-1">
          <div><label for="period">Enter a number from 1 to 10.</label></div>
          <div><input style="width: 60px" type="text" id="period" class="form-control validate" value="1" /></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
