{% extends "base.html" %} {% block content %}

<h1 class="mb-4 text-center">MDY Attendance and Lessons App</h1>
<hr />
<h3 class="mt-4 text-center font-weight-normal"><a href="/weekly_schedule/A">Week A </a></h3>
<h3 class="mt-4 text-center font-weight-normal"><a href="/weekly_schedule/B">Week B </a></h3>
<h3 class="mt-4 text-center font-weight-normal"><a href="{{ url_for('classes') }}"> All Classes</a></h3>
<h3 class="mt-4 text-center font-weight-normal"><a href="/get_students/a/all">All Students</a></h3>
<h3 class="mt-4 text-center font-weight-normal"><a href="/records"> Attendance Tracking</a></h3>
<h3 class="mt-4 text-center font-weight-normal"><a href="/lessons/all">Lessons</a></h3>
<h3 class="mt-4 text-center font-weight-normal"><a href="{{ url_for('lunch_menu') }}">Lunch Menu</a></h3>
<h3 class="mt-4 text-center font-weight-normal"><a href="{{ url_for('classes_anon') }}"> All Classes (anon)</a></h3>
{% endblock content %}
