{% extends "base.html" %} {%block title%} MDY Daily App {%endblock%} {% block content %}

<h2 class="mb-0 text-center font-weight-normal">MDY Daily App</h2>
<hr />

<h4 class="mt-4 font-weight-normal">
  <a target="_blank" href="{{url_for('cisc3142', filename='Lec6.pdf')}}">Lecture 6: Time, Pair, Random </a>
</h4>
<h4 class="mt-4 font-weight-normal">
  <a target="_blank" href="{{url_for('cisc3142', filename='Lec7n8.pdf')}}"
    >Lecture 7n8: Types and Declarations. Pointers, Arrays and References
  </a>
</h4>
<h4 class="mt-4 font-weight-normal">
  <a target="_blank" href="{{url_for('cisc3142', filename='Lec9.pdf')}}">Lecture 9: Classses </a>
</h4>
<h4 class="mt-4 font-weight-normal">
  <a target="_blank" href="{{url_for('cisc3142', filename='Lec10.pdf')}}">Lecture 10: More OOP, Abstraction Mechanisms </a>
</h4>
<h4 class="mt-4 font-weight-normal">
  <a target="_blank" href="{{url_for('cisc3142', filename='Lec11.pdf')}}">Lecture 11: Templates and Generic Programming </a>
</h4>
<h4 class="mt-4 font-weight-normal">
  <a target="_blank" href="{{url_for('cisc3142', filename='Lec12.pdf')}}">Lecture 12: Metaprogramming and Type Functions</a>
</h4>
<h4 class="mt-4 font-weight-normal">
  <a target="_blank" href="{{url_for('cisc3142', filename='Lec13.pdf')}}">Lecture 13: Functional Programing</a>
</h4>
<h4 class="mt-4 font-weight-normal">
  <a target="_blank" href="{{url_for('cisc3142', filename='Lec14.pdf')}}">Lecture 14: STL, strings, streams </a>
</h4>
<h4 class="mt-4 font-weight-normal">
  <a target="_blank" href="{{url_for('cisc3142', filename='Lec15.pdf')}}">Lecture 15: C standard library </a>
</h4>
<h4 class="mt-4 font-weight-normal">
  <a target="_blank" href="{{url_for('cisc3142', filename='Lec1.pdf')}}">Lecture 1: Introduction, diff bt Java and C++ </a>
</h4>
<h4 class="mt-4 font-weight-normal">
  <a target="_blank" href="{{url_for('cisc3142', filename='Lec2.pdf')}}">Lecture 2: Programming Styles and Designs. Type checking </a>
</h4>
<h4 class="mt-4 font-weight-normal">
  <a target="_blank" href="{{url_for('cisc3142', filename='Lec3.pdf')}}"
    >Lecture 3: Procedural Programming, const, types, nullptr, arrays, ref, enums, modularity, static assertions, exceptions</a
  >
</h4>
<h4 class="mt-4 font-weight-normal">
  <a target="_blank" href="{{url_for('cisc3142', filename='Lec4.pdf')}}"
    >Lecture 4: Classes, Constructors, Virtual Functions, Templates, Alias
  </a>
</h4>
<h4 class="mt-4 font-weight-normal">
  <a target="_blank" href="{{url_for('cisc3142', filename='Lec5.pdf')}}"
    >Lecture 5: Containers and Algorithms, STL, Streams, overloading
  </a>
</h4>

<h4 class="mt-4 text-center font-weight-normal"><a href="/list_users">View users </a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="/admin/adm_attendance">View today's attendance </a></h4>
<!--h4 class="mt-4 text-center font-weight-normal"><a href="/weekly_schedule/A">Week A </a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="/weekly_schedule/B">Week B </a></h4-->

<h4 class="mt-4 text-center font-weight-normal">
  <a href="https://docs.google.com/spreadsheets/d/1lCtkbwmaBeWSGo0AlBRMaJH7XBWxY5FvAdg7q2plL5M/edit#gid=1420406392" target="_blank"
    >MDY Links</a
  >
</h4>

<h4 class="mt-4 text-center font-weight-normal"><a href="/full_schedule">Full Schedule </a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="{{ url_for('classes.classes_all') }}"> All Classes</a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="/get_students/a/all">All Students</a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="/records"> Attendance Tracking</a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="/lessons/all">Lessons</a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="/dismissal_form">Dismissal</a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="{{ url_for('lunch_menu') }}">Lunch Menu</a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="{{ url_for('classes.classes_anon') }}"> All Classes (anon)</a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="{{ url_for('classes.grades') }}"> View all grades</a></h4>
<h4 class="mt-4 text-center font-weight-normal"><a href="/students_notifications/all"> Send Emails</a></h4>

<a class="btn btn-primary" href="/send_email">Send email</a>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Launch demo modal</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Which period is this?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times; </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="md-form mb-1">
          <div><label for="period">Enter a number from 1 to 10.</label></div>
          <div><input style="width: 60px" type="text" id="period" class="form-control validate" value="1" /></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
