{% extends "base.html" %} {% block content %}

<h1 class="text-center">{{title}}</h1>
<h4 id="course" class="mb-4 text-center"></h4>
<table
  id="myTable"
  class="table mx-auto w-auto table-striped table-hover table-bordered table-responsive"
  style="border: 0px red solid; width: 100%"
>
  <thead>
    <th>Date</th>
    <th>Content</th>
    <th></th>
  </thead>
  <tbody>
    {% for lesson in lessons %}
    <tr>
      <td>
        <script>
          courseid = "{{ lesson.courseid}}";
          var ld = "{{ lesson.lessondate}}";
          lessondate = ld.slice(-5);
          document.write(lessondate);
        </script>
        <br />{{ lesson.scheduleid}} <br />
        <a href="/check_absences/{{lesson.courseid}}/{{lesson.lessondate}}" class="small">Absences</a>
      </td>
      <td contenteditable="true">{{ lesson.content}}</td>
      <td>
        <a href="/edit_lesson/{{ lesson.lessonid}}/{{ lesson.content}}">Edit </a>| <a href="/delete_lesson/{{ lesson.lessonid}}">Delete </a>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>

<script>
  $("#myTable").DataTable({
    pageLength: 20,
    filter: true,
    deferRender: true,
    //scrollY: 1200,
    scrollCollapse: true,
    scroller: true,
    //ordering: true,
    select: true,
    bSort: false,
    //order: [[2, "asc"]],
  });
</script>

<!-- <script>
  $(document).ready(function () {
    $("#myTable").DataTable();
  });
</script> -->

<script>
  window.onload = function () {
    console.log(courseid);
    document.getElementById("course").innerHTML = courseid;
  };
</script>
{% endblock content %}
