{% extends "base.html" %} {% block content %}

<h1 class="text-center">{{title}}</h1>
<table
  id="myTable"
  class="table mx-auto w-auto table-striped table-hover table-bordered table-responsive"
  style="border: 0px red solid; width: 100%"
>
  <thead>
    <th>Date</th>
    <th>Per</th>
    <th>Class</th>
    <th>Content</th>
  </thead>
  <tbody>
    {% for lesson in lessons %}
    <tr>
      <td>
        <script>
          var ld = "{{ lesson.lessondate}}";
          console.log("ld=" + ld);
          lessondate = ld.slice(-5);
          document.write(lessondate);
        </script>
      </td>
      <td>{{ lesson.scheduleid}}</td>
      <td>{{ lesson.courseid}}</td>
      <td>{{ lesson.content}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>

<script>
  $("#myTable").DataTable({
    pageLength: 20,
    filter: true,
    deferRender: true,
    //scrollY: 1200,
    scrollCollapse: true,
    scroller: true,
    //ordering: true,
    select: true,
    bSort: false,
    //order: [[2, "asc"]],
  });
</script>

<!-- <script>
  $(document).ready(function () {
    $("#myTable").DataTable();
  });
</script> -->

{% endblock content %}
