{% extends "base-denied.html" %}{%block title%} MDY Lunch Menu {%endblock%}{% block content %}

<h1 class="mb-2 text-center font-weight-normal">June</h1> Lunch Menu</h1>
<div class="text-center">
  <a
    class="nav-item nav-link mr-2"
    style="font-size: 1em"
    onclick="alert('You will be redirected to the MDY website. If you are prompted for a username, enter your mdy email address.')"
    target="_blank"
    href="https://www.magendavidyeshivah.org/parent-portal/elementary-school-landing/lunch-menu"
  >
    Click here to access the lunch menu on the MDY website.</a
  >
</div>
<hr />

<div class="text-center">
  <img src="/static/img/jun_lunch.jpg" alt="June Lunch Menu" />
</div>
{% endblock content %}
