<p>Dear <span style="font-family: 'Courier New', Courier, monospace">{{firstname}}</span>,</p>
<p>
  Please be advised that you have not submitted all of your required work for your Computers class. Currently, your final average for this
  class is: <span style="font-family: 'Courier New', Courier, monospace"> Not Passing</span>.
</p>
<p>
  There still is an opportunity for you to improve your overall grade if you would kindly submit your missing assignments before
  <span style="font-family: 'Courier New', Courier, monospace">Wednesday, November 25</span>.
</p>
<p>
  To determine which assignments you are missing, please go to your Computers class on Google Classroom, click on <b>Classwork</b>, then
  click on <b>View your work</b> to see a list of assignments and grades for this class.
</p>
<p>Please remember to press <b>Turn In</b> on Google Classroom when submitting an assignment.</p>

<p>Good luck!</p>
All the best,
<div id="signature" style="font-family: 'Gill Sans', Avenir, Helvetica" class="small">
  <span style="color: rgb(11, 83, 148)"><b>Rachel Friedman</b></span> <br />
  <i>Technology Instructor</i><br />
  Magen David Yeshivah <br />
  2130 McDonald Avenue <br />
  Brooklyn, NY 11223 <br />

  <a href="mailto:rfriedman@mdyschool.org">rfriedman@mdyschool.org </a><br />
  <a href="https://www.magendavidyeshivah.org/">magendavidyeshivah.org </a>
  <p>&nbsp;</p>
  <img style="width: 200px" alt="cid image" src="cid:Myimage" />
</div>
