{% extends "base.html" %} {% block content %}

<h1 class="mb-4 text-center">Attendance Records</h1>
<hr />
<div id="main" style="margin: auto; width: 40% !important">
  <form action="/track_attendance/class" method="post" name="form">
    {{ form.hidden_tag() }}
    <legend class="border-bottom mb-4">Select by class.</legend>
    <div class="row">
      <div class="col-md-auto">{{ form.courseid(class="form-control form-control-md") }}</div>
    </div>
    <div mb-4>{{ form.save(class="btn btn-primary btn-md mb-2 mt-3 form-control-lg") }}</div>
  </form>

  <form action="/track_attendance/student" method="post" name="form">
    {{ form.hidden_tag() }}
    <legend class="border-bottom mt-4 mb-2">Select by student.</legend>
    <div class="row">
      <div class="col-md-auto">{{ form.student_list(class="form-control form-control-md") }}</div>
    </div>
    <div mb-4>{{ form.save(class="btn btn-primary btn-md mb-2 mt-3 form-control-lg") }}</div>
  </form>
  <form action="/track_attendance/date" method="post" name="form">
    {{ form.hidden_tag() }}
    <legend class="border-bottom mt-4 mb-2">Select by date.</legend>
    <div class="row">
      <div class="col-md-auto">{{ form.date.label(class="form-control-label") }} {{ form.date(class="form-control form-control-md") }}</div>
    </div>

    <div mb-4>{{ form.save(class="btn btn-primary btn-md mb-2 mt-3 form-control-lg") }}</div>
  </form>
</div>
{% endblock content %}
