{% extends "base-denied.html" %} {% block title %} MDY Attendance Records{% endblock %}{% block content %}
<style>
  .card:hover {
    /*background-color: #afdefb !important;*/
    background-color: #e0ffff !important;
  }
</style>
<script>
  var teacher_classes = [];
</script>
<script src="/static/js/records.js"></script>
{% for c in classes %}
<script>
  var classs = "{{c.courseid}}";
  teacher_classes.push(classs);
  //console.log(classs);
</script>
{% endfor %}

<style>
  ul {
    list-style-type: none;
  }
</style>
<script src="/static/js/records.js"></script>
<!-- <div id="outerdiv" style="border: 1px solid red; width: 100%; display: flex; justify-content: center; text-align: center">
  <div id="innerdiv" style="margin-left: auto; margin-right: auto; width: 90%; border: 1px blue solid"> -->
<h1 class="mb-4 text-center font-weight-normal">Attendance Records</h1>

<div style="border: 0px solid green; text-align: right; width: 500px; margin: auto">
  <!-- <div class="card" style="width: 22 rem">
    <div class="card-body">
      <form action="/track_attendance/class" method="post" name="form">
        {{ form.hidden_tag() }}

        <div class="row" style="border: 0px solid blue; width: 460px; margin: auto; position: relative">
          <div style="border: 0px solid red" class="col-xs-4" style="position: absolute; bottom: 0px">
            {{form.view(class="form-control form-control-md text-left mb-0 mt-2")}}
          </div>

          <div style="border: 0px solid red" class="col">
            <h3 class="card-title">Select by class</h3>

            <div class="row no-gutters" style="border: 0px solid green; display: flex; justify-content: flex-end">
              <div class="col-xs-8 ml-1 mr-1 mb-1">{{ form.courseid(class="form-control form-control-md") }}</div>
              <div class="col-xs-3">{{ form.btnSubmit(class="btn btn-primary btn-md form-control-md") }}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div> -->

  <div class="card mt-4" style="width: 22 rem">
    <div class="card-body">
      <form action="/track_attendance/classdate" method="post" name="form" autocomplete="on" target="_blank">
        {{ form.hidden_tag() }}

        <div class="row" style="border: 0px solid blue; width: 460px; margin: auto; position: relative">
          <div style="border: 0px solid red" class="col-xs-4" style="position: absolute; bottom: 0px">
            {{form.view(class="form-control form-control-md text-left mb-0 mt-2")}}
          </div>

          <div style="border: 0px solid red" class="col">
            <h3 class="card-title">View class</h3>

            <div class="row no-gutters" style="border: 0px solid green; display: flex; justify-content: flex-end">
              <div class="col-xs-8 ml-1 mr-1 mb-1">
                {{ form.date(class="form-control form-control-md", onchange="populate_classes(event);") }}
              </div>
              <div class="col-xs-8 ml-1 mr-1 mb-1">{{ form.courseid(class="form-control form-control-md") }}</div>
              <div class="col-xs-3">{{ form.btnSubmit(class="btn btn-primary btn-md form-control-md") }}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card mt-4" style="width: 22 rem">
    <div class="card-body">
      <form action="/track_attendance/date" method="post" name="form" target="_blank">
        {{ form.hidden_tag() }}

        <div class="row" style="border: 0px solid blue; width: 460px; margin: auto; position: relative">
          <div style="border: 0px solid red" class="col-xs-4" style="position: absolute; bottom: 0px">
            {{form.view(class="form-control form-control-md text-left mb-0 mt-2")}}
          </div>

          <div style="border: 0px solid red" class="col">
            <h3 class="card-title">View all classes</h3>

            <div class="row no-gutters" style="border: 0px solid green; display: flex; justify-content: flex-end">
              <div class="col-xs-8 ml-1 mr-1 mb-1">{{ form.date(class="form-control form-control-md") }}</div>
              <div class="col-xs-3">{{ form.btnSubmit(class="btn btn-primary btn-md form-control-md") }}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card mt-4" style="width: 22 rem">
    <div class="card-body">
      <form action="/track_attendance/student" method="post" name="form" target="_blank">
        {{ form.hidden_tag() }}

        <div class="row" style="border: 0px solid blue; width: 460px; margin: auto; position: relative">
          <div style="border: 0px solid red" class="col-xs-4" style="position: absolute; bottom: 0px">
            {{form.view(class="form-control form-control-md text-left mb-0 mt-2")}}
          </div>

          <div style="border: 0px solid red" class="col">
            <h3 class="card-title">View student</h3>

            <div class="row no-gutters" style="border: 0px solid green; display: flex; justify-content: flex-end">
              <div class="col-xs-8 ml-1 mr-1 mb-1">{{ form.student_list(class="form-control form-control-md") }}</div>
              <div class="col-xs-3">{{ form.btnSubmit(class="btn btn-primary btn-md form-control-md") }}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- </div>
</div> -->
  <hr class="mb-4" />
</div>
<script>
  var todays_classes = {{todays_classes |safe}};
  console.log(todays_classes);
  var select = document.getElementsByName("courseid");
  for (index in todays_classes) {
    select[0].options[index] = new Option(todays_classes[index], todays_classes[index]);
  }
  if(todays_classes.length==0){
    select[0].options[0] = new Option("No classes", "No classes on this day");
   select[0].value = "No classes on this day";
  }
</script>
{% endblock content %}
