{% extends "base.html" %} 
{% block title %}MDY Schedule Details{% endblock %} 
{% block content %}

<script>
    var dow = "{{dow}}";
  </script>

<div class="container d-flex justify-content-around" style="border:0px solid red;"> 
<a id="next" class='btn btn-sm pt-4' onclick="get_prev()" style="display:block"> <i class="fa fa-angle-left text-muted" style="font-size:36px"></i> </a>
<h1 class="mt-1 text-center  display-4" >{{title}}</h1>
<a id="prev" class='btn btn-sm pt-4' onclick="get_next()" style="display:block"> <i class="fa fa-angle-right text-muted" style="font-size:36px"></i></a>
</div>
<h5 class="mt-1 text-center font-weight-normal" ><a id="full_schedule" href="/full_schedule">Schedule</a> | <a id="get_condensed">Today</a></h5>


<div class="table-responsive">
<table
  id="myTable"
  class="table mx-auto  table-striped table-hover table-bordered text-center mt-4 pt-4  w-auto table-fixed " 
  style="background: whitesmoke; border:0px solid green; width:auto; margin: 0px auto; table-layout:fixed;"
>
  <thead>
    <th>Per</th>
    <th>Timet</th>
    <th>Class</th>
    <th> Last</th>
    <th>Lessons</th>
  </thead>
  <tbody>

    <script>
      var dow = "{{dow}}";  //this is actually scheduleid!!!!
      var per = [0, 1, 2, 3, 4, 5, -1, 6, 7, 8, 9, 10];
      var len = {{latest_lessons | length}}; 
      var latest_lessons = [];
      var next_lessons = [];
      {% for l in latest_lessons %}
        latest_lessons.push("{{l.content}}");
        next_lessons.push("{{l.plan}}");
      {%endfor%}
      //console.log(latest_lessons);
      //var per = parseInt({{ schedule.sort}})
    </script>

    {% for schedule in schedule %}

    <tr style="
    min-height: 60px;
    height: 60px">
      <td class="display-4">
        <script>
          if (per[{{loop.index}}] != -1) document.write(per[{{loop.index}}]);
          else document.write("L");
        </script>
      </td>
      <td>{{ schedule.period.start_time}}<br>-<br>{{ schedule.period.end_time}}</td>
      <!-- <td>
        <script>
          if ("{{ schedule.course.classid}}" == "0-0") {
            document.write("");
          } else
          {
            var c = "{{ schedule.course.classid}}";
            var t = '<a href="/get_students/'+c+'">'+c+'</a>';
            document.write(t);
          }
          if (per[{{loop.index}}] == -1) document.write("L");
          if (per[{{loop.index}}] == 8) document.write("R");
        </script>
      </td> -->
      <td>
        <script>
          if ("{{ schedule.course.subject}}" == "0") {
            document.write("");
          } else document.write("{{ schedule.course.subject}}");
          var course = "{{ schedule.course.classid}}"+"-{{ schedule.course.subject}}";
          var p = per[{{loop.index}}];
          var c = "{{ schedule.course.classid}}";
          var courseid = "{{ schedule.course.courseid}}";         
          //var t = '<a href="/today/' + c + '/' + dow + '/' +p + '">' + c + "</a>";
          var t = '<br> <a style="font-size:1.4rem" class="font-weight-bold" href="/attendance/' + c + '/' + courseid + '/' + dow + '/' +p + '">' + c + "</a>";
          if ("{{ schedule.course.subject}}" == "0") {
            document.write("");
          } else document.write(t);

          if ("{{ schedule.course.subject}}" != "0") {
          if ({{ schedule.course.room}} ==500)
          document.write('<br>Gym');
          else document.write("<br>{{ schedule.course.room}}");
          }
        </script>
      </td>

                <td class="text-left " style="min-width:300px! important;width:700px !important"" ><div style="height:70px; overflow-y:scroll; overflow-x:hidden; "><script>document.write(latest_lessons[{{loop.index}}-1])</script></div></td>
                <td>        <script>
                  var s = "{{ schedule.course.subject}}" ;
                  if (s == "Computers" || s == "STEM") {
                    var x = "/lessons/"+course;
                            document.write('<a href="' + x + '">View</a>  &nbsp;|  ');
                          }
        
                          var t = '<a href="/addLesson/' + c + '/' + courseid + '/' + dow + '/' +p + '/a">' + "&nbsp; Add" + "</a>";
                          if (s == "Computers" || s == "STEM")  {
                            document.write(t);
                          } else document.write("");
                        </script>
                         </script> </td>
              </tr>
              {%endfor%}
  </tbody>
  </table>
</div>

<script>
  var current_week = "{{current_week}}";
  window.onload = function () {
    if (current_week == "A") {
      document.getElementById("weekA").classList.add("active");
      document.getElementById("weekB").classList.remove("active");
    } else if (current_week == "B") {
      document.getElementById("weekB").classList.add("active");
      document.getElementById("weekA").classList.remove("active");
    }
    document.getElementById("get_condensed").href = "/schedule/" + dow;

  };
</script>

<script> 
  var sched = {{sched_list | tojson}};

  function get_next(){
    var current = "{{dow}}";
    //console.log(current);
    for(i=0; i< sched.length; i++){
      if(current.substring(2,4)=="Th"){
        //document.getElementById("next").disabled=true;
        next=sched[0];
        //console.log("next day should be Mon " + next);
        window.location.href = "/schedule/" + next;
      }
      else if(sched[i]==current){
        next = sched[i+1];
        //console.log("Next day: " + next);
        window.location.href = "/schedule/" + next;
      }
    }
  }


  function get_prev(){
    console.log("prev function");
    var current = "{{dow}}";
    console.log(current);
    for(i=0; i< sched.length; i++){
      if(current.substring(2,3)=="M"){
        prev=sched[3];
        console.log("prev day should be Thurs " + prev);
        window.location.href = "/schedule/" + prev;
      }
      else if(sched[i]==current){
        prev = sched[i-1];
        console.log("prev day: " + prev);
        window.location.href = "/schedule/" + prev;
      }
    }
  }
  
</script>
<hr class="mt-4 mb-4">

        {% endblock content %}

