{% extends "base.html" %} 
{% block title %}MDY Schedule {{dow}}{% endblock %} 
{% block content %}
<script>

  function AutoRefresh(t) {
    var date = new Date(new Date().getTime()).toLocaleTimeString();
    console.log("Refreshed " + date);
    setTimeout("location.reload(true);", t);
  }
  
  var dow = "{{dow}}";
</script>

<script src = "/static/js/daily_schedule.js"></script>
<div class="container d-flex justify-content-around" style=" max-width: 600px; border:0px solid red;"> 
<a id="next" class='btn btn-sm pt-4' onclick="get_prev()" style="display:block"> <i class="fa fa-angle-left text-muted" style="font-size:36px"></i> </a>
<h1 class="mt-1 text-center display-4" >{{title}}       
  <script>
  document.write(get_date());
</script>
</h1>

<a id="prev" class='btn btn-sm pt-4' onclick="get_next()" style="display:block"> <i class="fa fa-angle-right text-muted" style="font-size:36px"></i></a>
</div>

<h5 class="mt-1 text-center font-weight-normal" ><a id="full_schedule" href="/full_schedule">Schedule</a> | <a id="get_details">Lessons</a></h5>

<div class="table-responsive">
<table
  id="myTable"
  class="table mx-auto   table-hover row-border text-center mt-4 pt-4  w-auto table-fixed " 
  style="background:snow; border:0px solid green; width:auto; margin: 0px auto"
>
  <thead>
    <th>Per</th>
    <th>Start</th>
    <th>End</th>
    <th>Class</th>
    <th>Subject</th>
    <th>Room</th>
<th>Att</th>
    <th>GC</th>
    <th>Lessons</th>
  </thead>
  <tbody>
    {% for schedule in schedule %}
    <script>
      var dow = "{{dow}}";  //this is actually scheduleid!!!!
      var per = [-1, 0, 1, 2, 3, 4, 5, -1, 6, 7, 8, 9, 10];
      if ("{{title}}".includes("Friday")) {
        var per = [-1, 0, 1, 2, 3, 4, -1, 5, 6, 7, 8, 9, 10];
      }
      var current_period =  "{{current_period}}";
      //console.log("current period is" + current_period);
      //var per = parseInt({{ schedule.sort}})
    </script>
    <tr id="period">
      <td class="h4">
        <script>
          var sched = "{{schedule.period.periodid}}";
          if (per[{{loop.index}}] != -1) {
          document.write(per[{{loop.index}}]);
          }
            else {
              document.currentScript.parentElement.parentElement.style.background = "#F0F0F0";
              document.write("L");
            }
            if (per[{{loop.index}}] ==8) {  
              document.currentScript.parentElement.parentElement.style.background = "#F0F0F0";
            }

          if(sched == current_period){
            document.currentScript.parentElement.parentElement.style.background = "#e6ffe6";
          }
          //console.log("sched period periodid {{schedule.period.periodid}}")

        </script>
      </td>
      <td id="start">{{ start_times[loop.index-1]}}</td>
      <td id="end">{{ end_times[loop.index-1]}}</td>


      <td id="classs" class="text-nowrap">
        <script>
          var course = "{{ schedule.course.classid}}"+"-{{ schedule.course.subject}}";
          var p = per[{{loop.index}}];
          var c = "{{ schedule.course.classid}}";
          var c2 = "{{ schedule.course.classcode.classid2}}";
          var courseid = "{{ schedule.course.courseid}}";         
          //var t = '<a href="/today/' + c + '/' + dow + '/' +p + '">' + c + "</a>";
          //var t = '<a title="take attendance" href="/attendance/' + c + '/' + courseid + '/' + dow + '/' +p + '">' + icon + "</a>";
          var course = "{{ schedule.course.subject}}" ;
          // if ( course == "0"  || (per[{{loop.index}}] == -1) || (per[{{loop.index}}] == 8)) { uncomment this line to hide class for lunch and recess

          if ( course == "0" ) {
            document.write("");
          } else document.write("<a  href='/get_students/d/{{ schedule.course.classid}}'>" + c2 + "</a>");
        </script>
      </td>

      <td id="subject">
        <script>
          if ("{{ schedule.course.subject}}" == "0") {
            document.write("");
          } else document.write("{{ schedule.course.subject}}");
        </script>
      </td>
      

      <td id="room">
        <script>
          //if (course != "0"   && per[{{loop.index}}] != 0 && per[{{loop.index}}] != -1 && per[{{loop.index}}] != 8) {uncomment this line to hid class for lunch and recess
         
          if (course != "0") {
             document.write("{{ schedule.course.room}}");       
          }
          else {
            document.write("");
          }
        </script>
      </td>

      <td id="att">
<script>
  var icon = "<i id = 'atticon{{loop.index}}' style='color: #1e2a5d' class = 'fa fa-edit fa-2x'> </i>";
  var t = '<a title="take attendance" href="/attendance/' + c + '/' + courseid + '/' + dow + '/' +p + '">' + icon + "</a>";
  if ( course == "0"  ||   per[{{loop.index}}] ==0 || (per[{{loop.index}}] == -1) || (per[{{loop.index}}] == 8)) {
    document.write("");
  } else document.write(t);

  //console.log("sched, period " + sched + " " +  current_period);

  if (sched == current_period) {
    if ("{{title}}".includes("Thursday")) {
      var num = parseInt(current_period.substring(2));
    } else var num = parseInt(current_period.substring(1));

    //console.log("num=" + num);
    for (i = 1; i <= num; i++) {
      var element = document.getElementById("atticon" + i);
      if (element) {
        //console.log("atticon=" + element);
        element.style.color = "Silver";
      }
      //console.log("i=" + i);
    }
    document.currentScript.parentElement.parentElement.style.background = "#e6ffe6";  //this has already been set at the start of the row, but leaving it here as a backup
  }

</script>
      </td>


      <td> 
        {% if schedule.course.gclink !=None  %}
        <a href = "{{schedule.course.gclink}}" target="_blank"> <img title='Google Classroom' src = '/static/img/gc2.png' style="width:20px;"> </a>
        {%else%}
      &nbsp;
      {%endif%}
      </td>


      <td class="text-nowrap">
        <script>
          var course = "{{ schedule.course.classid}}"+"-{{ schedule.course.subject}}";
          var s = "{{ schedule.course.subject}}" ;
          var icon = "<i style='color: #1e2a5d' class = 'fa fa-book'> </i>";
          if (s == "Computers" || s == "STEM") {
            var x = "/lessons/"+course;
                    document.write('<a title="view lesson" href="' + x + '">'+ icon +'</a>  &nbsp; &nbsp;' );
                  }
                  var c = "{{ schedule.course.classid}}";
                  var icon = "<i style='color: #1e2a5d' class = 'fa fa-plus'> </i>";
                  var t = '<a title = "add lesson" href="/addLesson/' + c + '/' + courseid + '/' + dow + '/' +p + '/a">'  + icon + "</a>" ;
                  if (s == "Computers" || s == "STEM")  {
                    document.write(t);
                  } else document.write("");
                </script>
                 </script> 
                </td>

              </tr>
              {%endfor%}
  </tbody>
  </table>
</div>

<script>
  var current_week = "{{current_week}}";
  window.onload = function () {
    AutoRefresh(300000);
    if (current_week == "A") {
      document.getElementById("weekA").classList.add("active");
      document.getElementById("weekB").classList.remove("active");
    } else if (current_week == "B") {
      document.getElementById("weekB").classList.add("active");
      document.getElementById("weekA").classList.remove("active");
    }
    document.getElementById("get_details").href = "/schedule_with_lessons/" + dow;

  };
</script>

<script> 
  var sched = {{sched_list | tojson}};
  //console.log(sched);

  function get_next(){
    var current = "{{dow}}";
    //console.log(current);
    for(i=0; i< sched.length; i++){
      if(current.substring(2,4)=="F"){
        //document.getElementById("next").disabled=true;
        next=sched[0];
        //console.log("next day should be Mon " + next);
        window.location.href = "/schedule/" + next;
      }
      else if(sched[i]==current){
        next = sched[i+1];
        //console.log("Next day: " + next);
        window.location.href = "/schedule/" + next;
      }
    }
  }


  function get_prev(){
    console.log("prev function");
    var current = "{{dow}}";
    console.log(current);
    for(i=0; i< sched.length; i++){
      if(current.substring(2,3)=="M"){
        prev=sched[4];
        console.log("prev day should be Thurs " + prev);
        window.location.href = "/schedule/" + prev;
      }
      else if(sched[i]==current){
        prev = sched[i-1];
        console.log("prev day: " + prev);
        window.location.href = "/schedule/" + prev;
      }
    }
  }
  
</script>
<hr class="mt-4 mb-4">

        {% endblock content %}
