{% extends "base.html" %} 
{% block title %}MDY Schedule{% endblock %} 
{% block content %}

<h1 class="mt-1 4 text-center font-weight-normal" >{{title}}</h1>

<div class="table-responsive">
<table
  id="myTable"
  class="table mx-auto  table-striped table-hover table-bordered text-center mt-4 pt-4  w-auto table-fixed " 
  style="border:0px solid green; width:auto; margin: 0px auto"
>
  <thead>
    <th>Per</th>
    <th>Start</th>
    <th>End</th>
    <th>Subject</th>
    <th>Class</th>
    <th>Room</th>
    <th>Lessons</th>
  </thead>
  <tbody>
    {% for schedule in schedule %}
    <script>
      var dow = "{{dow}}";  //this is actually scheduleid!!!!
      var per = [0, 1, 2, 3, 4, 5, -1, 6, 7, 8, 9, 10];
      //var per = parseInt({{ schedule.sort}})
    </script>
    <tr>
      <td>
        <script>
          if (per[{{loop.index}}] != -1) document.write(per[{{loop.index}}]);
          else document.write("L");
        </script>
      </td>
      <td>{{ schedule.period.start_time}}</td>
      <td>{{ schedule.period.end_time}}</td>
      <!-- <td>
        <script>
          if ("{{ schedule.course.classid}}" == "0-0") {
            document.write("");
          } else
          {
            var c = "{{ schedule.course.classid}}";
            var t = '<a href="/get_students/'+c+'">'+c+'</a>';
            document.write(t);
          }
          if (per[{{loop.index}}] == -1) document.write("L");
          if (per[{{loop.index}}] == 8) document.write("R");
        </script>
      </td> -->
      <td>
        <script>
          if ("{{ schedule.course.subject}}" == "0") {
            document.write("");
          } else document.write("{{ schedule.course.subject}}");
        </script>
      </td>
      <td class="text-nowrap">
        <script>
          var course = "{{ schedule.course.classid}}"+"-{{ schedule.course.subject}}";
          var p = per[{{loop.index}}];
          var c = "{{ schedule.course.classid}}";
          var courseid = "{{ schedule.course.courseid}}";         
          //var t = '<a href="/today/' + c + '/' + dow + '/' +p + '">' + c + "</a>";
          var t = '<a href="/attendance/' + c + '/' + courseid + '/' + dow + '/' +p + '">' + c + "</a>";
          if ("{{ schedule.course.subject}}" == "0") {
            document.write("");
          } else document.write(t);
        </script>
      </td>
      <td>
        <script>
          if ("{{ schedule.course.subject}}" != "0") {
          if ({{ schedule.course.room}} ==500)
          document.write('Gym');
          else document.write("{{ schedule.course.room}}");
          }
        </script>
      </td>
      <td class="text-nowrap">
        <script>
          var s = "{{ schedule.course.subject}}" ;
          if (s == "Computers" || s == "STEM") {
            var x = "/lessons/"+course;
                    document.write('<a href="' + x + '">View</a>  &nbsp;|  ');
                  }

                  var t = '<a href="/addLesson/' + c + '/' + courseid + '/' + dow + '/' +p + '/a">' + "&nbsp; Add" + "</a>";
                  if (s == "Computers" || s == "STEM")  {
                    document.write(t);
                  } else document.write("");
                </script>
                 </script> 
                </td>
              </tr>
              {%endfor%}
  </tbody>
  </table>
</div>

<script>
  var current_week = "{{current_week}}";
  window.onload = function () {
    if (current_week == "A") {
      document.getElementById("weekA").classList.add("active");
      document.getElementById("weekB").classList.remove("active");
    } else if (current_week == "B") {
      document.getElementById("weekB").classList.add("active");
      document.getElementById("weekA").classList.remove("active");
    }
  };
</script>

<hr class="mt-4 mb-4">
          <!-- <script>
            $("#myTable").DataTable({
              //pageLength: 20,
              paging: false,
              //filter: true,
              deferRender: true,
              //scrollY: 1200,
              //scrollCollapse: true,
              //scroller: true,
              ordering: false,
              select: true,
              bSort: false,
              dom: "lrtip",
            });
        </script> -->

        <!-- <script>
  $(document).ready(function () {
    $("#myTable").DataTable();
  });
</script> -->
        {% endblock content %}

