<div class="col-xs-6 col-sm-6 col-md-3 col-xl-2">
    <div class="content-section">
      <h3>My Schedule</h3>
      <p class='text-muted'>&nbsp;
        <ul class="list-group">
          <li class="list-group-item font-weight-bold"><a href="/full_schedule">FULL SCHEDULE</a></li>
          <li class="list-group-item list-group-item-light"><a href="/now">Now</a></li>
          <li class="list-group-item font-weight-bold"">Week A</li>
          <li class="list-group-item list-group-item-light"><a href="/schedule/A_M">Monday</a></li>
          <li class="list-group-item list-group-item-light"><a href="/schedule/A_T">Tuesday </a></li>
          <li class="list-group-item list-group-item-light"><a href="/schedule/A_W">Wednesday</a></li>
          <li class="list-group-item list-group-item-light"><a href="/schedule/A_Th">Thursday </a></li>
          <li class="list-group-item font-weight-bold"">Week B</li>
          <li class="list-group-item list-group-item-light"><a href="/schedule/B_M">Monday</a></li>
          <li class="list-group-item list-group-item-light"><a href="/schedule/B_T">Tuesday </a></li>
          <li class="list-group-item list-group-item-light"><a href="/schedule/B_W">Wednesday</a></li>
          <li class="list-group-item list-group-item-light"><a href="/schedule/B_Th">Thursday </a></li>
          <li class="list-group-item list-group-item-light font-weight-bold"><a href="/lessons/all">Lessons</a></li>
          <li class="list-group-item "><a href="{{ url_for('lunch_menu') }}">Lunch Menu</a></li>               

        </ul>
      </p>
    </div>
  </div>