{% extends "base-denied.html" %} {% block content %}
<script src="/static/js/notifications.js"></script>

<div style="text-align: center">
  <h2 class="font-weight-normal">{{title}}</h2>
  <a class="font-weight-normal" href="/set_custom_progress_msg/{{teacher}}">Customize Email Message</a>
  <div id="all" class="font-weight-normal mb-4"><a href="/students_notifications/all">View All Students</a></div>
</div>
<div style="border: 0px solid blue; max-width: 1000px; margin: auto" class="table-responsive">
  <!-- <table
  id="myTable"
  class="table mx-auto w-auto table-striped table-hover table-bordered table-responsive"
  style="border: 0px red solid; margin: 0 auto; width: 75% !important"
> -->
  <table
    id="myTable"
    class="table mx-auto w-auto table-striped table-hover table-bordered table-fixed"
    style="background: whitesmoke; border: 0px red solid; width: auto; margin: 0px auto"
  >
    <thead>
      <th>Name</th>
      <th class='text-center'>Missing Work</th>
      <th id="class" class="text-center">Class</th>
      <th>Email</th>
      <th>Parent1 Email</th>
      <th>Parent2 Email</th>
    </thead>
    <tbody>
      {% for students in students %}
      <tr>
        <td class="text-nowrap"><a href="/student_info/{{students.email}}">{{ students.name}}</a></td>
        <td>
          <div id="notify{{loop.index}}" class="text-center">
            <a
              title="Email student and parents about missing work"
              onclick='email_progress("{{students.email}}", "{{students.name}}","{{students.courseid}}")'
            >
              <i style="color: #1e2a5d" class="fa fa-envelope fa-1x"></i>
            </a>
          </div>
        </td>
        <td name="classid" class="text-center">
          <script>
            var classlink = "{{students.classid}}";
            document.write(
              "<a style='color:#1e2a5d' href='/students_notifications/" + classlink + "'> {{students.class_code.classid2}}</a>"
            );
          </script>
        </td>
        <td>{{ students.email}}</td>
        <td class="small">{{ students.parent1}}</td>
        <td class="small">{{ students.parent2}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
<script>
  $("#myTable").DataTable({
    pageLength: 30,
    filter: true,
    deferRender: true,
    //scrollY: 1200,
    scrollCollapse: true,
    scroller: true,
    //ordering: true,
    select: true,
    bSort: true,
    //order: [[2, "asc"]],
  });
</script>

<script>
  $(document).ready(function () {
    if ("{{classname}}" != "all") {
      document.getElementById("all").style.display = "block";
    } else {
      document.getElementById("all").style.display = "none";
    }
  });
</script>

{% endblock content %}
