<p>Dear {{firstname}},</p>
<p>
{{teacher_content}}    
</p>

<div id="signature" style="font-family: 'Gill Sans', Avenir, Helvetica" class="small">
  <span style="color: rgb(11, 83, 148)"><b>{{teacher}}</b></span> <br />
  Magen David Yeshivah <br />
  2130 McDonald Avenue <br />
  Brooklyn, NY 11223 <br />

  <a href="mailto:{{teacher_email}}">{{teacher_email}} </a><br />
  <a href="https://www.magendavidyeshivah.org/">magendavidyeshivah.org </a>
  <p>&nbsp;</p>
  <img style="width: 200px" alt="cid image" src="cid:Myimage" />
</div>
